extends common/_layout
block variable
  -var title = 'Главная страница'
block main
  .container.text-justify
    .uk-card.uk-card-default.mb-4
      .uk-card-body
        button.uk-button.uk-button-primary.uk-margin-small-right(type='button', data-uk-toggle='target: #offcanvas-nav-primary') Открыть содержание
        h1 Пояснительная записка к ЭУМК
        p Электронный учебно-методический комплекс (ЭУМК) предназначен для подготовки и проведения аудиторных занятий преподавателями, а также для плановой и внеплановой самостоятельной работы студентов, обучающихся на военной кафедре по программам военной подготовки по ВУС-121500, 521300, 461768, 423256 при изучении ими дисциплины «Тактико-специальная подготовка».
        p ЭУМК может использоваться преподавателями военной кафедры в системе профессионально должностной подготовки и для более глубокого изучения отдельных вопросов тактико-специальной подготовки.
        p Основой стратегии современной образовательной политики является сочетание поточно-групповой организации образовательного процесса с построением личностно-ориентированной образовательной среды с использованием средств информационно - коммуникационных технологий.
        p Электронный учебно-методический комплекс изучения учебной дисциплины «Тактико-специальная подготовка» разработан для обеспечения единого подхода к преподаванию дисциплин изучающих по программе военной подготовки на военной кафедре по разделу "Организация связи в тактическом и оперативно-тактическом звене управления", "Оператив-техническая служба на узлах и линиях связи" и для обеспечения обучающихся учебно-методическими материалами и контрольными (тестовыми) заданиями с целью развития их индивидуальных способностей к самообучению и самореализации, как при изучении дисциплин военной подготовки, так и в будущей профессиональной деятельности.
        p Структура ЭУМК является базовой для формирования учебно- методических материалов по остальным разделам Тактико-специальной подготовки и предусматривает возможность расширения материала.
        p Материал, представленный в ЭУМК, разработан на основе комплексного подхода, имеет иерархическую модульную структуру, логически выстроен от простого к сложному и способствует развитию творческого мышления у студентов, выработке у них мотивации на практическое использование полученных знаний, умений и навыков. ЭУМК включает тематические планы обучения студентов, содержание учебного материала дисциплины и набор обучающих, информационных и контролирующих материалов.
        p Содержание ЭУМК позволяет в полном объеме получить знания в соответствии с квалификационными требованиями к выпускнику учебного военного центра и военной кафедры и предоставляет студентам большой простор для самостоятельной творческой работы.
        p Теоретическая часть ЭУМК сопровождается тестами с проверкой усвоения материала каждого занятия.
        p Кроме перечисленных элементов в ЭУМК реализованы подсистемы: гипертекстовая, которая позволяет студентам осуществлять нелинейный доступ к учебному материалу, перемещаясь по нему избирательно, ориентируясь на свои потребности.
        p Cистема навигации, целью которой является поиск необходимого материала с помощью полос прокрутки, кнопок, открывающихся меню и подменю.
        p Доступность и простота работы с ЭУМК не требует специальной подготовки, позволяя сконцентрировать внимание обучающихся на изучении содержания предлагаемого учебного материала.
