extends common/_layout
block variable
  -var title = 'Тема 1. Общие положения по организации связи в Сухопутных войсках Вооруженных Сил Российской Федерации'
block main
  .container.text-justify
    .uk-card.uk-card-default.mb-4
      .uk-card-body
        button.uk-button.uk-button-primary.uk-margin-small-right(type='button', data-uk-toggle='target: #offcanvas-nav-primary') Открыть содержание
        h1.uk-h2 Тема 1. Общие положения по организации связи в Сухопутных войсках Вооруженных Сил Российской Федерации
        ul.uk-nav.uk-nav-primary.uk-margin-auto-vertical(data-uk-nav)
          li.uk-parent
            a(href='#') Лекция № 1 <b>Роль связи в управления войсками</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_1_1/lecture_1-1.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/lecture_1_1/lecture_1_1_prez.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_1_1.html')
                  | Самопроверка
          li.uk-parent
            a(href='#') Лекция № 2 <b>Система связи</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_1_2/lecture_1-2.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/lecture_1_2/lecture_1_2_prezi.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_1_2.html' target="_blank")
                  | Самопроверка
          li.uk-parent
            a(href='#') Лекция № 3 <b>Силы и средства связи соединений (частей) Сухопутных войск</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_1_3/lecture_1-3.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/lecture_1_3/lecture_1-3_prezi.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_1_3.html' target="_blank")
                  | Самопроверка
          li.uk-parent
            a(href='#') Лекция № 4 <b>Способы организации связи радио, радиорелейными, тро-посферными и спутниковыми средствами</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_1_4/lecture_1-4.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/lecture_1_4/lecture_1_4_prezi.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_1_4.html' target="_blank")
                  | Самопроверка

          li.uk-parent
            a(href='#') Лекция № 5 <b>Способы организации связи проводными и подвижными средствами.</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_1_5/lecture_1-5.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/lecture_1_5/lecture_1_5_prezi.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_1_5.html' target="_blank")
                  | Самопроверка

          li.uk-parent
            a(href='#') Семинар № 1 <b>Основные положения и понятия по организации связи</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_1_6/lecture_1-6.pdf' target="_blank")
                  | Текст
