extends common/_layout
block variable
  -var title = 'Тема 2. Организация связи в тактическом звене управления'
block main
  .container.text-justify
    .uk-card.uk-card-default.mb-4
      .uk-card-body
        button.uk-button.uk-button-primary.uk-margin-small-right(type='button', data-uk-toggle='target: #offcanvas-nav-primary') Открыть содержание
        h1.uk-h2 Тема 2. Организация связи в тактическом звене управления
        ul.uk-nav.uk-nav-primary.uk-margin-auto-vertical(data-uk-nav)
          li.uk-parent
            a(href='#') Лекция № 1 <b>Система связи в мсб (тб) и адн</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_2_1/lecture_2_1.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/lecture_2_1/lecture_2_1_prezi.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_1_2_1.html')
                  | Самопроверка
          li.uk-parent
            a(href='#') Лекция № 2 <b>Подразделения связи мсб (тб) и адн</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_2_2/lecture_2_2.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/lecture_2_2/lecture_2_2_prezi.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_1_2_2.html')
                  | Самопроверка

          li.uk-parent
            a(href='#') Лекция № 3 <b>Связь радио и проводными средствами в мсб (тб) и адн в основных видах боя</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_2_3/lecture_2_3.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/lecture_2_3/lecture_2_3_prezi.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_1_2_3.html')
                  | Самопроверка


          li.uk-parent
            a(href='#') Семинар № 1 <b>Связь проводными средствами в мсб (тб) и адн в основных видах боя</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_2_4/lecture_2_4.pdf' target="_blank")
                  | Текст


          li.uk-parent
            a(href='#') Лекция № 4 <b>Узлы связи КНП мсб (тб) и адн</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_2_5/lecture_2_5.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/lecture_2_5/lecture_2_5_prezi.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_1_2_5.html')
                  | Самопроверка
          li.uk-parent
            a(href='#') Семинар № 2 <b>Система связи в мсб (тб) и адн</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_2_6/lecture_2_6.pdf' target="_blank")
                  | Текст
          li.uk-parent
            a(href='#') Лекция № 5 <b>Управление системой и взводом связи при подготовке и в ходе боя</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_2_7/lecture_2_7.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/lecture_2_7/lecture_2_7_prezi.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_1_2_7.html')
                  | Самопроверка
          li.uk-parent
            a(href='#') Лекция № 6 <b>Подготовка подразделений связи к применению в боевых действиях</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_2_8/lecture_2_8.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/lecture_2_8/lecture_2_8_prezi.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_1_2_8.html')
                  | Самопроверка
          li.uk-parent
            a(href='#') Лекция № 7 <b>Планирование связи и постановка задач в мсб (тб) и адн</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_2_9/lecture_2_9.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/lecture_2_9/lecture_2_9_prezi.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_1_2_9.html')
                  | Самопроверка
          li.uk-parent
            a(href='#') Лекция № 8 <b>Сбор данных об обстановке по связи</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_2_10/lecture_2_10.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/lecture_2_10/lecture_2_10_prezi.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_1_2_10.html')
                  | Самопроверка
          li.uk-parent
            a(href='#') Лекция № 9 <b>Обеспечение  живучести системы связи мсб (тб) и адн</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_2_11/lecture_2_11.pdf' target="_blank")
                  | Текст
              li
                a(href='test_1_2_11.html')
                  | Самопроверка
          li.uk-parent
            a(href='#') Семинар № 3 <b>Управление системой и взводом связи при подготовке и в ходе боя</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_2_12/lecture_2_12.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/lecture_2_12/lecture_2_12_prezi.pdf' target="_blank")
                  | Презентация
          li.uk-parent
            a(href='#') Групповое  упражнение №1 <b>Принятие решения на организацию связи в мсб в обороне</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_2_13/lecture_2_13.pdf' target="_blank"  )
                  | Текст
              li
                a(href='test_1_2_13.html' target="_blank")
                  | Самопроверка
              li
                a(href='doc/lecture_2_13/Prilojenie_№_1_GU-13_Zadanie_na_GU_№13.pdf' target="_blank")
                  | Приложение №1ГУ-13_Задание на ГУ №13.pdf
              li
                a(href='doc/lecture_2_13/Prilojenie_№2GU-13_Takticheskoe_orientirovanie.pdf' target="_blank")
                  | Приложение №2ГУ-13_Тактическое ориентирование.pdf
              li
                a(href='doc/lecture_2_13/Prilojenie_№3GU-13_OHS_msb.pdf' target="_blank")
                  | Приложение №3ГУ-13_ОШС мсб.pdf
              li
                a(href='doc/lecture_2_13/Prilojenie_№4GU-13_Shtat_dzvoda_svazi.pdf' target="_blank")
                  | Приложение №4ГУ-13_Штат взвода связи.pdf
              li
                a(href='doc/lecture_2_13/Prilojenie_№5GU-13_tipovaya_sh_rt_msb.pdf' target="_blank")
                  | Приложение №5ГУ-13_типовая сх рс мсб общая.pdf
              li
                a(href='doc/lecture_2_13/Prilojenie_№6GU-13_analiz_rajona_boevih_deistvi.pdf' target="_blank")
                  | Приложение №6ГУ-13_Анализ района боевых действий.pdf
              li
                a(href='doc/lecture_2_13/Prilojenie_№7GU-13_Reshenie_komandira_na_oboronu.pdf' target="_blank")
                  | Приложение №7ГУ-13_Решение командира на оборону.pdf
              li
                a(href='doc/lecture_2_13/Prilojenie_№8GU-13_ukazania_nachalnika_shtaba_3_msb.pdf' target="_blank")
                  | Приложение №8ГУ-13_УКАЗАНИЯ НАЧАЛЬНИКА ШТАБА 3 МСБ.pdf
              li
                a(href='doc/lecture_2_13/Prilojenie_№9GU-13_rasporajenie_po_svazi sht_,r_PRIL_1.pdf' target="_blank")
                  | Приложение №9ГУ-13_Распоряжение по связи шт бр ПРИЛ 1.pdf
              li
                a(href='doc/lecture_2_13/Prilojenie_№10GU-13_Rasporajenie_po_razvedke.pdf' target="_blank")
                  | Приложение №10ГУ-13_Распоряжение по разведке.pdf
              li
                a(href='doc/lecture_2_13/Prilojenie_№11GU-13_Rasporajenie_po_PVO.pdf' target="_blank")
                  | Приложение №11ГУ-13_Распоряжение по ПВО.pdf
              li
                a(href='doc/lecture_2_13/Prilojenie_№12GU-13_Uyasnenie_zadachi.pdf' target="_blank")
                  | Приложение №12ГУ-13_Уяснение задачи.pdf
          li.uk-parent
            a(href='#') Групповое  упражнение №2 <b>Планирование связи в мсб в обороне</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_2_14/lecture_2_14.pdf' target="_blank")
                  | Текст
              li
                a(href='test_1_2_14.html')
                  | Самопроверка
              li
                a(href='doc/lecture_2_14/Prilozhenie_№1GU-14_ZADANIE.pdf' target="_blank")
                  | Приложение №1ГУ-14_ЗАДАНИЕ.pdf
              li
                a(href='doc/lecture_2_14/Prilozhenie_№2GU14_Svedenija_dlja_organizacii_provodnoj_svjazi.pdf' target="_blank")
                  | Приложение №2ГУ14_Сведения для организации проводной связи.pdf
              li
                a(href='doc/lecture_2_14/Prilozhenie_№3GU-14_Linejnye_komandy.pdf' target="_blank")
                  | Приложение №3ГУ-14_Линейные команды.pdf
              li
                a(href='doc/lecture_2_14/Prilozhenie_№4GU-14_Raspisanie_chastot.pdf' target="_blank")
                  | Приложение №4ГУ-14_Расписание частот.pdf
              li
                a(href='doc/lecture_2_14/Prilozhenie_№5GU-14_Tablica_pozyvnyh.pdf' target="_blank")
                  | Приложение №5ГУ-14_Таблица позывных.pdf
              li
                a(href='doc/lecture_2_14/Prilozhenie_№6GU-14_Dopolnenie_k_radiodannym.pdf' target="_blank")
                  | Приложение №6ГУ-14_Дополнение к радиоданным.pdf
              li
                a(href='doc/lecture_2_14/Prilozhenie_№7GU-14_Sh_rs_msb-variant_№7.vsd' target="_blank")
                  | Приложение №7ГУ-14 _Сх рс мсб-вариант №7.vsd
              li
                a(href='doc/lecture_2_14/Prilozhenie_№8GU-14_Tablica_signalov.pdf' target="_blank")
                  | Приложение №8ГУ-14_Таблица сигналов.pdf
              li
                a(href='doc/lecture_2_14/Prilozhenie_№9-10GU-14_Pozyvnye_dolzhnostnyh_lic.pdf' target="_blank")
                  | Приложение №9-10ГУ-14_Позывные должностных лиц.pdf
          li.uk-parent
            a(href='#') Групповое  упражнение №3 <b>Постанова задач подразделениям, донесения (сводки) по связи</b>
            ul.uk-nav-sub
              li
                a(href='doc/lecture_2_15/lecture_2_15.pdf' target="_blank")
                  | Текст
              li
                a(href='test_1_2_15.html')
                  | Самопроверка
              li
                a(href='doc/lecture_2_15/Prilozhenie_№1GU-15_ZADANIE_na_zanjatie.pdf' target="_blank")
                  | Приложение №1ГУ-15_ЗАДАНИЕ на занятие.pdf
              li
                a(href='doc/lecture_2_15/Prilozhenie_№2GU-15_Soderzhanie_rasporjazhenija_po_svjazi.pdf' target="_blank")
                  | Приложение №2ГУ-15_Содержание распоряжения по связи.pdf
              li
                a(href='doc/lecture_2_15/Prilozhenie_№3GU-15_Rasporjazhenie.pdf' target="_blank")
                  | Приложение №3ГУ-15_Распоряжение.pdf
              li
                a(href='doc/lecture_2_15/Prilozhenie_№4GU-15_Soderzhanie_boevogo_rasporjazhenija_vzvodu_svjazi.pdf' target="_blank")
                  | Приложение №4ГУ-15_Содержание боевого распоряжения взводу связи.pdf
              li
                a(href='doc/lecture_2_15/Prilozhenie_№5GU-15_Boevoe_raspor.pdf' target="_blank")
                  | Приложение №5ГУ-15_Боевое распор.pdf
              li
                a(href='doc/lecture_2_15/Prilozhenie_№6GU-15_Rasporjazhenie_po_svjazi_shtaba_msb.pdf' target="_blank")
                  | Приложение №6ГУ-15_Распоряжение по связи штаба мсб.pdf
              li
                a(href='doc/lecture_2_15/Prilozhenie_№7GU-15_Boevoe_rasporjazhenie_vzvodu_svjazi.pdf' target="_blank")
                  | Приложение №7ГУ-15_Боевое распоряжение взводу связи.pdf
              li
                a(href='doc/lecture_2_15/Prilozhenie_№8GU-15_Soderzhanie_donesenija_po_svjazi.pdf' target="_blank")
                  | Приложение №8ГУ-15_Содержание донесения по связи.pdf
              li
                a(href='doc/lecture_2_15/Prilozhenie_№9GU-15_Donesenie-shablon.pdf' target="_blank")
                  | Приложение №9ГУ-15_Донесение-шаблон.pdf
              li
                a(href='doc/lecture_2_15/Prilozhenie_№10GU-15_Soderzhanie_boevogo_donesenija_vzvoda_svjazi.pdf' target="_blank")
                  | Приложение №10ГУ-15_Содержание боевого донесения взвода связи.pdf
              li
                a(href='doc/lecture_2_15/Prilozhenie_№11GU-15_Shablon_boevogo_donesenija_komandira_vzvoda_svjazi.pdf' target="_blank")
                  | Приложение №11ГУ-15_Шаблон боевого донесения командира взвода связи.pdf
              li
                a(href='doc/lecture_2_15/Prilozhenie_№12GU-15_Soderzhanie_doklada_plana_svjazi.pdf' target="_blank")
                  | Приложение №12ГУ-15_Содержание доклада плана связи.pdf
