extends common/_layout
block variable
  -var title = 'Тема 1. Основы организации связи в оперативном командовании'
block main
  .container.text-justify
    .uk-card.uk-card-default.mb-4
      .uk-card-body
        button.uk-button.uk-button-primary.uk-margin-small-right(type='button', data-uk-toggle='target: #offcanvas-nav-primary') Открыть содержание
        h1.uk-h2 Тема 1. Основы организации связи в оперативном командовании
        ul.uk-nav.uk-nav-primary.uk-margin-auto-vertical(data-uk-nav)
          li.uk-parent
            a(href='#') Лекция № 1 <b>Организация связи и боевое применение частей связи в опе-ративном командовании.</b>
            ul.uk-nav-sub
              li
                | Нет информации
          li.uk-parent
            a(href='#') Групповое занятие №1 <b>Основы организации связи радио, радиорелейными, тропо-сферными, проводными средствами и средствами спутнико-вой связи в оперативном командовании.</b>
            ul.uk-nav-sub
              li
                | Нет информации
          li.uk-parent
            a(href='#') Семинар №1 <b>Основы организации связи в оперативном командовании.</b>
            ul.uk-nav-sub
              li
                | Нет информации