extends common/_layout
block variable
  -var title = 'Тема 3. Узлы связи пунктов управления оперативного звена'
block main
  .container.text-justify
    .uk-card.uk-card-default.mb-4
      .uk-card-body
        button.uk-button.uk-button-primary.uk-margin-small-right(type='button', data-uk-toggle='target: #offcanvas-nav-primary') Открыть содержание
        h1.uk-h2 Тема 3. Узлы связи пунктов управления оперативного звена
        ul.uk-nav.uk-nav-primary.uk-margin-auto-vertical(data-uk-nav)
          li.uk-parent
            a(href='#') Лекция №1 <b>Основы построения узлов связи пунктов управления опера-тивного звена.</b>
            ul.uk-nav-sub
              li
                | Нет информации

          li.uk-parent
            a(href='#') Групповое занятие №1 <b>Организационно-техническое построение узла связи.</b>
            ul.uk-nav-sub
              li
                | Нет информации

          li.uk-parent
            a(href='#') Групповое занятие №2 <b>Организационно-техническое построение ТФЦ и ТГЦ.</b>
            ul.uk-nav-sub
              li
                | Нет информации

          li.uk-parent
            a(href='#') Лекция №2 <b>Эксплуатация узла связи.</b>
            ul.uk-nav-sub
              li
                | Нет информации

          li.uk-parent
            a(href='#') Групповое занятие №3 <b>Организация оперативно-технической службы на УС ПУ оперативного звена.</b>
            ul.uk-nav-sub
              li
                | Нет информации

          li.uk-parent
            a(href='#') Лекция №3 <b>Особенности боевого применения линейных частей и под-разделений связи.</b>
            ul.uk-nav-sub
              li
                | Нет информации
