extends common/_layout
block variable
  -var title = 'Тема 2. Основы поддержания боевой, мобилизационной готовности и всестороннего обеспечения боеготовности применения частей (подразде-лений) связи'
block main
  .container.text-justify
    .uk-card.uk-card-default.mb-4
      .uk-card-body
        button.uk-button.uk-button-primary.uk-margin-small-right(type='button', data-uk-toggle='target: #offcanvas-nav-primary') Открыть содержание
        h1.uk-h2 Тема 2. Основы поддержания боевой, мобилизационной готовности и всестороннего обеспечения боеготовности применения частей (подразде-лений) связи
        ul.uk-nav.uk-nav-primary.uk-margin-auto-vertical(data-uk-nav)
          li.uk-parent
            a(href='#') Лекция № 1 <b>Основы боевой готовности частей и соединений связи.</b>
            ul.uk-nav-sub
              li
                a(href='doc/t2_lectre_2_1/t2_lectre_2_1.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/t2_lectre_2_1/t2_lectre_2_1_prezi.pdf' target="_blank")
                  | Презентация

          //li.uk-parent
            a(href='#') Лекция №2 <b>Основы мобилизационной готовности.</b>
            ul.uk-nav-sub
              li
                | Нет информации
          li.uk-parent
            a(href='#') Групповое занятие №1 <b>Боевое обеспечение связи и АСУВ.</b>
            ul.uk-nav-sub
              li
                a(href='doc/t2_lectre_2_3/t2_lectre_2_3.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/t2_lectre_2_3/t2_lectre_2_3_prezi.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_2_3.html' target="_blank")
                  | Самопроверка
          li.uk-parent
            a(href='#') Групповое занятие №2 <b>Основы материально-технического обеспечения войск.</b>
            ul.uk-nav-sub
              li
                a(href='doc/t2_lectre_2_4/t2_lectre_2_4.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/t2_lectre_2_4/t2_lectre_2_4_prezi.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_2_4.html' target="_blank")
                  | Самопроверка
          li.uk-parent
            a(href='#') Групповое занятие №3 <b>Морально-психологическое обеспечение войск связи.</b>
            ul.uk-nav-sub
              li
                a(href='doc/t2_lectre_2_5/t2_lectre_2_5.pdf' target="_blank")
                  | Текст
              li
                a(href='doc/t2_lectre_2_5/t2_lectre_2_5_prezi.pdf' target="_blank")
                  | Презентация
              li
                a(href='test_2_5.html' target="_blank")
                  | Самопроверка
          //li.uk-parent
            a(href='#') Семинар №1 <b>Основы поддержания боевой, мобилизационной готовности и всестороннего обеспечения боевого применения частей (подразделений) связи.</b>
            ul.uk-nav-sub
              li
                | Нет информации
