extends common/_layout
block variable
  -var title = 'Тест Способы организации связи проводными и подвижными средствами.'
block main
  .container.text-justify
    .uk-card.uk-card-default.mb-4
      .uk-card-body
        button.uk-button.uk-button-primary.uk-margin-small-right(type='button', data-uk-toggle='target: #offcanvas-nav-primary') Открыть содержание
        h1.uk-h2 Тест по теме: <b>Способы организации связи проводными и подвижными средствами.</b>
        script.
          window.questions = [
            {
              "question": "1. Проводная связь в зависимости от условий обстановки и наличия сил и средств может быть организована по:",
              "good_anser": "Направлению или по оси.",
              "bad_anser": "Распределению или по сетке.::Направлению или по графу.::Все ответы верны."
            },
            {
              "question": "2. Способ организации связи, при котором связь старшего пункта управления с несколькими подчиненными пунктами управления осуществляется по каналам одной проводной линии, развернутой в направлении перемещения своего пункта управления или одного из пунктов управления подчиненных частей.",
              "good_anser": "Связь по оси проводной связи.",
              "bad_anser": "Связь по направлению проводной связи.::Связь по распределению проводной связи.::Связь по сетке проводной связи."
            },
            {
              "question": "3. Что относится  к архитектурам организации связи оптоэлектронными средствами?",
              "good_anser": "Архитектура типа «кольцо-кольцо».",
              "bad_anser": "Древнегреческая архитектура.::Архитектура типа \"звезда-линия - овал\".::Архитектура типа \"квадрат - квадрат\"."
            },
            {
              "question": "4. В настоящее время существует базовый набор стандартных топологий сетей, к которому относится топология:",
              "good_anser": "Звезда.",
              "bad_anser": "Месяц.::Многоугольник.::Созвездие."
            },
            {
              "question": "5. Чему равна скорость передачи ОСНОВНОГО ЦИФРОВОГО КАНАЛА?",
              "good_anser": "64 кбит/с.",
              "bad_anser": "8,448 Мбит/с.::2,048 Мбит/с.::8 кбит/с."
            },
            {
              "question": "6. Фельдъегерско-почтовая связь может организовываться по:",
              "good_anser": "Все ответы верны.",
              "bad_anser": "Круговому маршруту.::Направлению.::Оси."
            },
            {
              "question": "7. Способ организации связи подвижными средствами старшего пункта управления с двумя и более подчиненными пунктами управления, при котором секретные и почтовые отправления доставляются через обменный пункт, развернутый вышестоящим штабом в районе дислокации подчиненных частей:",
              "good_anser": "Связь по оси фельдъегерско-почтовой связи.",
              "bad_anser": "Связь по сетке фельдъегерско-почтовой связи.::Связь по направлению фельдъегерско-почтовой связи.::Связь по маршруту фельдъегерско-почтовой связи."
            },
            {
              "question": "8. Способ организации связи подвижными средствами старшего пункта управления с двумя и более подчиненными пунктами управления, при котором секретные и почтовые отправления доставляются одним рейсом последовательно в зависимости от их расположения на проложенном между ними  маршруте:",
              "good_anser": "Связь по круговому маршруту фельдъегерско-почтовой связи.",
              "bad_anser": "Связь по оси фельдъегерско-почтовой связи.::Связь по направлению фельдъегерско-почтовой связи.::Связь по сетке фельдъегерско-почтовой связи."
            },
            {
              "question": "9. Объединение нескольких каналов с малыми емкостями в один канал большей емкости:",
              "good_anser": "Мультиплексирование.",
              "bad_anser": "Демультиплексирование.::Топологирование.::Модулирование."
            },
            {
              "question": "10. Технологии сети Интернет строятся на основе:",
              "good_anser": "Стека протоколов TCP/IP.",
              "bad_anser": "Стека протоколов Frame relay.::Стека протоколов X25.::Стека протоколов IP."
            }
          ];


        #timer.timer
        #test