extends common/_test
block variable
  -var title = 'Тест Способы организации связи радио, радиорелейными, тропосферными и спутниковыми  средствами.'
  -var titleTest = 'Тест по теме: <b>Способы организации связи радио, радиорелейными, тропосферными и спутниковыми  средствами.</b>'
block question
  script.
          window.questions = [
            {
              "question": "1)﻿Мобильный род связи, обеспечивающий прямую передачу информации без переприемов и ретрансляций на неограниченные расстояния при минимальных затратах сил, средств и времени на ее установление:",
              "good_anser": "﻿Радиосвязь.",
              "bad_anser": "﻿Телефонная связь.::﻿Телевизионная связь.::﻿Передача данных."
            },
            {
              "question": "2)﻿К достоинствам радиосвязи относится:",
              "good_anser": "﻿Высокая мобильность средств и комплексов радиосвязи.",
              "bad_anser": "﻿Малая пропускная способность.::﻿Возможность перехвата передач.::﻿Возможность создания преднамеренных помех.﻿"
            },
            {
              "question": "3)﻿К недостаткам радиосвязи относится:",
              "good_anser": "﻿Зависимость качества и устойчивости связи от уровня радиопомех в пункте приема.",
              "bad_anser": " ﻿Все ответы верны.:: ﻿Возможность обеспечения связи с движущимися объектами и объектами, местоположение которых неизвестно.::﻿﻿Практически неограниченная дальность связи."
            },
            {
              "question": "4)﻿При симплексной одночастотной радиосвязи:",
              "good_anser": "﻿Работающие между собой радиостанции передачу и прием ведут поочередно на одной частоте.",
              "bad_anser": " ﻿Нет верного ответа.:: ﻿Работающие между собой радиостанции передачу и прием ведут одновременно на разнесенных частотах приема и передачи.::﻿﻿Передача и прием ведутся поочередно на разнесенных частотах приема и передачи."
            },
            {
              "question": "5)﻿При дуплексной радиосвязи:",
              "good_anser": "﻿Нет верного ответа.",
              "bad_anser": "﻿Работающие между собой радиостанции передачу и прием ведут поочередно на одной частоте.:: ﻿Передача и прием ведутся поочередно на разнесенных частотах приема и передачи.::﻿Работающие между собой радиостанции передачу и прием ведут поочередно на трех и более частотах.﻿"
            },
            {
              "question": "6)﻿Радиосвязь может быть организована по:",
              "good_anser": "﻿Радиосетям или радионаправлениям.",
              "bad_anser": " ﻿Проводам или оптоволокну.:: ﻿Радиостанциям или спутниковым системам.::﻿Рациям или радиолокационным антеннам.﻿"
            },
            {
              "question": "7)﻿Дуплексная многоканальная УКВ радиосвязь, основанная на ретрансляции сигналов, передаваемых земной волной и характеризующаяся нормированными показателями каналов и групповых трактов:",
              "good_anser": "﻿Радиорелейная связь.",
              "bad_anser": "﻿Тропосферная связь.::﻿Радиосвязь.::﻿﻿Спутниковая связь."
            },
            {
              "question": "8)﻿Дуплексная многоканальная УКВ радиосвязь, основанная на рассеянии и отражении радиоволн от неоднородностей тропосферы:",
              "good_anser": "﻿Тропосферная связь.",
              "bad_anser": "﻿Радиорелейная связь. ::﻿Радиосвязь. ::﻿﻿Спутниковая связь."
            },
            {
              "question": "9)﻿Спутниковая связь – это:",
              "good_anser": "﻿Дальняя многоканальная радиосвязь на УКВ, в которой используется ретрансляция сигналов космической станцией-ретранслятором, находящейся на искусственном спутнике Земли.",
              "bad_anser": "﻿Дуплексная многоканальная УКВ радиосвязь, основанная на ретрансляции сигналов, передаваемых земной волной и характеризующаяся нормированными показателями каналов и групповых трактов.::﻿Дуплексная многоканальная УКВ радиосвязь, основанная на рассеянии и отражении радиоволн от неоднородностей тропосферы.::﻿Дальняя многоканальная радиосвязь на УКВ, в которой используется прямая передача сигналов космической станцией, находящейся на естественном спутнике Земли."
            },
            {
              "question": "10)﻿Ось радиорелейной связи – это:",
              "good_anser": "﻿Способ организации связи, при котором связь старшего пункта управления с несколькими подчиненными пунктами управления осуществляется по каналам одной радиорелейной линии, развернутой в направлении перемещения своего пункта управления или одного из пунктов управления подчиненных частей.",
              "bad_anser": "﻿Способ организации связи между тремя и более пунктами управления, при котором связь старшего пункта управления с подчиненными пунктами управления осуществляется с помощью одного полукомплекта радиорелейной станции.::﻿Способ построения сети, при котором все станции наделяются ресурсом ретрансляции, а структура сети представляется совокупнос::﻿Нет верного ответа.﻿"
            }
          ];


        #timer.timer
        #test