extends common/_test
block variable
  -var title = 'Тест Узлы связи пунктов управления мсбр.'
  -var titleTest = 'Тест по теме: <b>Узлы связи пунктов управления мсбр.</b>'
block question
  script.
    window.questions = [{
      "question": "Организационно-техническое объединение сил, средств электросвязи и автоматизации, функционально взаимосвязанных, электрически согласованных и предназначенных для обеспечения определённого рода или вида связи:",
      "good_anser": "Элемент узла связи.",
      "bad_anser": "УФПС.::КШМ.::Узел привязки."
    }, {
        "question": "… предназначена для образования каналов на линиях прямой радиорелейной, тропосферной, спутниковой связи и приема каналов от опорных узлов связи опорной сети связи старшего штаба.:",
        "good_anser": "Группа каналообразования.",
        "bad_anser": "Группа КШМ.::Электропитающая станция.::Нет верного ответа."
      }, {
        "question": "Экспедиция УС предназначена для:",
        "good_anser": "Приема, обработки и доставки исходящих телеграмм (радиограмм) в аппаратные (радиостанции), а входящих - адресатам на пункте управления и осуществления контроля за сроками их прохождения.",
        "bad_anser": "Проведения ремонта средств связи и автоматизации, транспортной базы и оказания помощи подразделениям в проведении их технического обслуживания::Образования телефонных, буквопечатающих и слуховых телеграфных радиоканалов.::Образования каналов на линиях прямой радиорелейной, тропосферной, спутниковой связи и приема каналов от опорных узлов связи опорной сети связи старшего штаба."
      }, {
        "question": "В своем составе узел связи ТПУ имеет:",
        "good_anser": "Все ответы верны.",
        "bad_anser": "Группа КШМ.::Группа комплексных аппаратных связи.::Радиостанция средней мощности."
      }, {
        "question": "Независимо от условий местности, в основу расположения узлов связи в составе пунктов управления должны быть положены следующие правила:",
        "good_anser": "Все ответы верны.",
        "bad_anser": "Узел связи должен иметь несколько скрытых подъездов (дорог), четко обозначенный вход со стороны ПУ и не демаскировать ПУ.::Удаление средств засекреченной связи и автоматизации от ПУ не должно превышать 100-300 метров.::Удаление между аппаратными внутри одного элемента должно составлять 50-80 м."
      }, {
        "question": "Развертыванию узла связи, как правило, предшествует …:",
        "good_anser": "Рекогносцировка района размещения пункта управления.",
        "bad_anser": "Инженерное оборудование.::Развертывание вспомогательного узла.::Оборонительный бой."
      }, {
        "question": "Процесс перевода УС из походного положения в готовность к обмену всеми видами сообщений и обеспечению переговоров должностных лиц пунктов управления на заданных направлениях связи:",
        "good_anser": "Развертывание узлов связи.",
        "bad_anser": "Подготовка узлов связи.::Приготовление узлов связи.::Свертывание узлов связи."
      }, {
        "question": "Развертывание узла связи считается законченным, если:",
        "good_anser": "Все элементы и аппаратные развернуты и соединены между собой.",
        "bad_anser": "Все ответы верны.::Проведена рекогносцировка.::Начальник УС получил приказание об установлении запланированных связей."
      }, {
        "question": "Узлы связи пунктов управления бригады перемещаются … :",
        "good_anser": "Совместно со своими пунктами управления одним эшелоном.",
        "bad_anser": "Совместно со своими пунктами управления двумя эшелонами.::Отдельно от своих пунктов управления одним эшелоном.::Отдельно от своих пунктов управления двумя эшелонами."
      }, {
        "question": "В ходе рекогносцировки района размещения узла связи определяются:",
        "good_anser": "Все ответы верны.",
        "bad_anser": "Места размещения узла связи и аппаратных (станций).::Трассы прокладки внутриузловых кабелей и абонентских линий.::Азимуты для антенн направленного действия."
      }
    ];