extends common/_test
block variable
  -var title = 'Тест Боевое обеспечение связи и АСУВ.'
  -var titleTest = 'Тест по теме: <b>Роль связи в управления войскам</b>'
block question
  script.
          window.questions = [
            {
              "question": "1. Что не входит в военную связь, позволяющей осуществлять обмен информацией в интересах управления войсками",
              "good_anser": "решения",
              "bad_anser": "силы::средства::способы"
            },
            {
              "question": "2. Какое свойство является свойством процесса управления",
              "good_anser": "оперативность",
              "bad_anser": "своевременность::достоверность::безопасность"
            },
            {
              "question": "3. Какое свойство является свойством связи",
              "good_anser": "достоверность",
              "bad_anser": "устойчивость::непрерывность::скрытность"
            },
            {
              "question": "4. Способность связи обеспечивать воспроизведение передаваемых сообщений в пунктах приема с заданной точностью это",
              "good_anser": "Достоверность",
              "bad_anser": "Своевременность::Безопасность::Устойчивость"
            },
            {
              "question": "5. Способность связи обеспечивать доставку сообщений или ведение переговоров в заданные сроки это",
              "good_anser": "Своевременность",
              "bad_anser": "Достоверность::Безопасность::Непрерывность"
            },
            {
              "question": "6. Безопасность связи достигается",
              "good_anser": "применением засекречивающей аппаратуры связи, соблюдением правил её эксплуатации",
              "bad_anser": "повторной передачей сообщений::поддержанием постоянной готовности сил и средств связи к применению::непрерывным и оперативным управлением системой связи, частью и подразделениями связи соединения (части)"
            },
            {
              "question": "7. Средства военной связи, предназначенные для образования типовых каналов передачи и групповых трактов первичной сети военной связи",
              "good_anser": "Каналообразующие",
              "bad_anser": "Коммутационные::Специальные::Оконечные"
            },
            {
              "question": "8. Средства военной связи, предназначенные для коммутации каналов, линий связи, сообщений или пакетов сообщений",
              "good_anser": "Коммутационные",
              "bad_anser": "Каналообразующие::Специальные::Оконечные"
            },
            {
              "question": "9. Организационно-техническое объединение сил и средств связи, создаваемое для обеспечения обмена всеми видами информации в системе управления войсками это",
              "good_anser": "Система связи",
              "bad_anser": "Узел связи::Линия связи::Сеть связи"
            },
            {
              "question": "10. Организационно-техническое объединение сил и средств связи и автоматизированного управления, развернутых на пункте управления или в пункте распределения (коммутации) каналов (сообщений) для обмена информацией в процессе управления войсками (силами)",
              "good_anser": "Система связи",
              "bad_anser": "Узел связи::Линия связи::Сеть связи"
            }
          ];