extends common/_test
block variable
  -var title = 'Тест Подготовка подразделений связи к применению в боевых действиях'
  -var titleTest = 'Тест по теме: <b>Подготовка подразделений связи к применению в боевых действиях</b>'
block question
  script.
    window.questions = [
      {
        "question": "1. Последовательность, содержание работы начальника связи при планировании связи",
        "good_anser": "Уяснение задачи -> Изучение исходных данных -> Ориентирование подчинённых о предстоящих действиях -> Оценка обстановки -> Принятие решения на организацию связи",
        "bad_anser": "Уяснение задачи -> Ориентирование подчинённых о предстоящих действиях -> Изучение исходных данных -> Оценка обстановки -> Принятие решения на организацию связи::Уяснение задачи -> Изучение исходных данных -> Ориентирование подчинённых о предстоящих действиях -> Принятие решения на организацию связи -> Оценка обстановки::Уяснение задачи -> Изучение исходных данных -> Оценка обстановки -> Ориентирование подчинённых о предстоящих действиях -> Принятие решения на организацию связи"
      },
      {
        "question": "2. Из решения командира и указаний начальника штаба батальона начальник связи уясняет",
        "good_anser": "порядок использования и режимы работы средств связи",
        "bad_anser": "места развёртывания, время готовности и направление перемещения узлов связи ПУ бригады::способы и последовательность обеспечения связи с КП бригады::порядок использования линий связи местной сети и системы связи старшего штаба в интересах батальона"
      },
      {
        "question": "3. Из распоряжения по связи штаба бригады начальник связи уясняет",
        "good_anser": "места развёртывания, время готовности и направление перемещения узлов связи ПУ бригады",
        "bad_anser": "построение боевого (походного) порядка батальона::размещение ПУ батальона и его подразделений, направления их перемещения в ходе боя::порядок использования и режимы работы средств связи"
      },
      {
        "question": "4. От командиров подразделений батальона начальник связи должен получить",
        "good_anser": "все ответ верны",
        "bad_anser": "порядок организации управления и связи в подразделениях::наличие и работоспособность средств связи в подразделениях::"
      },
      {
        "question": "5. Оценка противника включает",
        "good_anser": "действия диверсионно-разведывательных групп",
        "bad_anser": "оценку времени и др. влияющих факторов::оценку своих войск  и подразделений связи::все ответы верны"
      },
      {
        "question": "6. Оценка обстановки включает",
        "good_anser": "все ответы верны",
        "bad_anser": "оценку противника::оценку своих войск  и подразделений связи::оценку местности (района боевых действий)"
      },
      {
        "question": "7. Что определяется в замысле на организацию связи",
        "good_anser": "элементы боевого порядка, с которыми должна быть обеспечена наиболее устойчивая связь по этапам боевых действий",
        "bad_anser": "задачи подразделению связи по обеспечению и организации связи::организацию управления связью::основы всестороннего обеспечения на предстоящий бой"
      },
      {
        "question": "8. Что определяется в решении на организацию связи",
        "good_anser": "организацию управления связью",
        "bad_anser": "элементы боевого порядка, с которыми должна быть обеспечена наиболее устойчивая связь по этапам боевых действий::структура системы связи батальона::срок готовности связи"
      },
      {
        "question": "9. В докладе начальник связи отражает",
        "good_anser": "все ответы верны",
        "bad_anser": "резерв связи, его состав, размещение и связь с ним::обеспечение связи с командиром и штабом бригады и какие средства связи для этого задействованы::порядок восстановления связи при выходе из строя УС КНП мсб"
      },
      {
        "question": "10. На схеме радиосвязи в мсб (тб) указывается",
        "good_anser": "ПУ своего батальона, вышестоящего штаба, штаба через инстанцию вверх а также ПУ подчиненных и приданных подразделений",
        "bad_anser": "расчет сил и средств связи  мсб (тб)::позывные должностных лиц батальона и полка::сигналы управления и оповещения батальона и полка"
      }
    ];