extends common/_test
block variable
  -var title = 'Тест Основы организации управления связью в мсбр'
  -var titleTest = 'Тест по теме: <b>Основы организации управления связью в мсбр</b>'
block question
  script.
    window.questions = [{
      "question": "К органам управления связью в бригаде относится:",
      "good_anser": "Начальники связи.",
      "bad_anser": "Нет верного ответа.::Министр обороны.::Отделение по связи главнокомандующего войск артиллерийской авиации."
    }, {
      "question": "К задачам отделения связи относится:",
      "good_anser": "Организация подготовки подразделений связи бригады, контроль за выполнением ими поставленных задач.",
      "bad_anser": "Организация управления связью в полку.::Руководство проведением мероприятий по переводу системы и подразделений связи с мирного на военное время.::Все ответы верны."
    }, {
      "question": "НЕ относится к основной документации, которая должна быть на пункте управления связью:",
      "good_anser": "Таблицы позывных узлов (станций) связи, должностных лиц противника. рабочая карта.",
      "bad_anser": "Рабочая карта.::Справочные документы.::Схема организации служебной связи."
    }, {
      "question":
        "Первый пункт алгоритма работы начальника связи мсбр:",
      "good_anser":
        "Уяснение задачи.",
      "bad_anser":
        "Оценка обстановки.::Принятие решения.::Сбор данных об обстановке по связи."
    }, {
      "question":
        "Работа начальника связи мсбр по подготовке подразделений связи к применению в боевых действиях начинается с получением:",
      "good_anser":
        "Указаний начальника штаба на организацию управления.",
      "bad_anser":
        "Приказа начальника полка.::Указаний начальника связи батальона связи.::Нет верного ответа."
    }, {
      "question":
        "При постановке задачи НС начальник штаба указывает:",
      "good_anser":
        "Все ответы верны.",
      "bad_anser":
        "С кем, к какому времени, какими средствами установить связь и на какие направления обратить особое внимание.::Порядок восстановления связи при выходе из строя ПУ.::Построение боевого (походного) порядка части."
    }, {
      "question":
        "Оценка обстановки НЕ включает:",
      "good_anser":
        "Нет верного ответа.",
      "bad_anser":
        "Оценку времени.::Оценку противника.::Оценку района предстоящих боевых действий."
    }, {
      "question":
        "План связи НЕ включает:",
      "good_anser":
        "Нет верного ответа.",
      "bad_anser":
        "Графическую часть плана связи.::Схему (таблицу) радио- и спутниковой связи.::Пояснительную записку."
    }, {
      "question":
        "На схеме (таблице) радио- и спутниковой связи НЕ указываются:",
      "good_anser":
        "Протяженность и тип кабеля.",
      "bad_anser":
        "Тип каналообразующей аппаратуры.::Принадлежность средств связи.::Нет верного ответа."
    }, {
      "question":
        "Постановка задач штабам подразделений бригады ставятся:",
      "good_anser":
        "Распоряжениями по связи.",
      "bad_anser":
        "Боевыми распоряжениями.::Срочными донесениями.::Внесрочными приказами."
    }
    ];