extends common/_test
block variable
  -var title = 'Тест Управление системой и взводом связи при подготовке и в ходе боя'
  -var titleTest = 'Тест по теме: <b>Управление системой и взводом связи при подготовке и в ходе боя</b>'
block question
  script.
    window.questions = [
      {
        "question": "1. Какой пункт входит в обязанность начальника связи батальона",
        "good_anser": "постоянно знать тактическую и радиоэлектронную обстановку и обстановку по связи, а также состояние связи в подчиненных подразделениях",
        "bad_anser": "устанавливать общий порядок использования средств связи и режим работы связи по этапам боевых действий::утверждать план связи::отдавать распоряжения по связи подчиненным"
      },
      {
        "question": "2. Какой пункт входит в обязанность начальника штаба батальона",
        "good_anser": "утверждать план связи",
        "bad_anser": "постоянно знать тактическую и радиоэлектронную обстановку и обстановку по связи, а также состояние связи в подчиненных подразделениях::вести рабочую карту::знать степень обученности личного состава"
      },
      {
        "question": "3. Какой пункт входит в обязанность командира подразделения (отделения, начальник станции, аппаратной) связи",
        "good_anser": "знать данные об обстановке и состоянии связи, обеспечиваемой подразделением, а также состояние подчиненных",
        "bad_anser": "проводить рекогносцировку направления развертывания (прокладки) линии связи::своевременно развертывать и организовывать эксплуатационное обслуживание, охрану и оборону линий связи::докладывать командиру подразделения, с которым он обеспечивает связь, о своей задаче, о готовности связи и постоянно заботиться о своевременном получении от него данных о направлении, порядке и сроках перемещения пунктов управления"
      },
      {
        "question": "4. Какой пункт входит в обязанность начальника направления связи",
        "good_anser": "докладывать начальнику связи (дежурному по связи) о ходе выполнения оставленной задачи, о готовности связи и о перемещениях пунктов управления части подразделения), с которой он обеспечивает связь",
        "bad_anser": "знать данные об обстановке и состоянии связи, обеспечиваемой подразделением, а также состояние подчиненных::организовывать и контролировать оперативно-техническую службу на линиях связи, развернутых подразделением, техническую эксплуатацию техники связи и АСУ::своевременно принимать решения, руководить планированием и боевым применением подразделения; организовывать взаимодействие и поддерживать его с другими подразделениями связи части"
      },
      {
        "question": "5. Устойчивость управления достигается",
        "good_anser": "правильным уяснением задач, доставленных командиром и начальником штаба",
        "bad_anser": "своевременным сбором данных, постоянным знанием и всесторонней оценкой реально сложившейся обстановки::способностью начальника и отделения связи соединения осуществлять весь цикл управления связью в сроки, позволяющие подчиненным производить необходимую подготовку и выполнять поставленные им задачи::скрытным размещением и перемещением пунктов управления связью"
      },
      {
        "question": "6. Непрерывность управления достигается",
        "good_anser": "своевременным принятием решений и четкой постановкой задач подчиненным",
        "bad_anser": "созданием и своевременным развертыванием пунктов управления связью и поддержанием их в высокой боевой готовности, умелой организацией работы на них отделения связи и дежурных смен (боевых расчетов)::использованием для постановки задач подчиненным метода личного общения::своевременным влиянием на систему, часть и подразделения связи в интересах выполнения поставленных задач; применением средств автоматизации управления связью"
      },
      {
        "question": "7. Оперативность управления достигается",
        "good_anser": "способностью начальника и отделения связи соединения осуществлять весь цикл управления связью в сроки, позволяющие подчиненным производить необходимую подготовку и выполнять поставленные им задачи",
        "bad_anser": "правильным уяснением задач, доставленных командиром и начальником штаба::своевременным сбором данных, постоянным знанием и всесторонней оценкой реально сложившейся обстановки::скрытным размещением и перемещением пунктов управления связью"
      },
      {
        "question": "8. Скрытность управления достигается",
        "good_anser": "использованием для постановки задач подчиненным метода личного общения",
        "bad_anser": "своевременным принятием решений и четкой постановкой задач подчиненным::созданием и своевременным развертыванием пунктов управления связью и поддержанием их в высокой боевой готовности, умелой организацией работы на них отделения связи и дежурных смен (боевых расчетов)::своевременным влиянием на систему, часть и подразделения связи в интересах выполнения поставленных задач; применением средств автоматизации управления связью"
      },
      {
        "question": "9. Какой пункт входит в обязанность дежурного по связи",
        "good_anser": "принимать меры к восстановлению нарушенных связей",
        "bad_anser": "проводить рекогносцировку направления развертывания (прокладки) линии связи::устанавливать общий порядок использования средств связи и режим работы связи по этапам боевых действий::своевременно развертывать и организовывать эксплуатационное обслуживание, охрану и оборону линий связи"
      },
      {
        "question": "10. Одним из исходных данных для планирования связи является",
        "good_anser": "распоряжение по связи штаба бригады",
        "bad_anser": "схема организации служебной связи::таблица сигналов для управления системой и подразделениями связи::схема (таблица) организации радиосвязи"
      }
    ];