extends common/_test
block variable
  -var title = 'Тест Организация связи в тактическом звене управления.'
  -var titleTest = 'Тест по теме: <b>Организация связи в тактическом звене управления.</b>'
block question
  script.
    window.questions = [
      {
        "question": "1. На организацию связи в мсб (тб) и адн оказывает влияние:",
        "good_anser": "все ответы верны",
        "bad_anser": "боевой состав, средства усиления, боевой порядок батальона и дивизиона::организация управления и взаимодействия::наличие сил и средств связи"
      },
      {
        "question": "2. Какого подразделения нет в организационно-штатной структуре мотострелкового батальона на БМП",
        "good_anser": "птв",
        "bad_anser": "гв::минбатр::воб"
      },
      {
        "question": "3. Какого подразделения нет в организационно-штатной структуре танкового  батальона",
        "good_anser": "минбатр",
        "bad_anser": "вс::вмо::вто"
      },
      {
        "question": "4. Что не входит боевой порядок адн",
        "good_anser": "огневые засады (взвод, отделение, танк, усиленные огнеметчиками и саперами)",
        "bad_anser": "пункт управления огнем::боевые порядки батарей::передовой (боковой) наблюдательный пункт адн"
      },
      {
        "question": "5. Организация управления и взаимодействия. Этим условием определяется",
        "good_anser": "Места развертывания УС КНП батальона, рот и приданных подразделений",
        "bad_anser": "Потребная живучесть и помехоустойчивость узлов и линий связи::Качество подготовки личного состава подразделений связи и организация воспитательной работы с личным составом::Возможное выделение фактического резерва связи"
      },
      {
        "question": "6. Наличие и состояние сил и средств связи. Этим условием определяется",
        "good_anser": "Возможное выделение фактического резерва связи",
        "bad_anser": "Места развертывания УС КНП батальона, рот и приданных подразделений::Потребная живучесть и помехоустойчивость узлов и линий связи::Назначение и состав радиолиний (радиосетей)"
      },
      {
        "question": "7. Наличие времени на организацию и обеспечение связи. Этим условием определяется",
        "good_anser": "Своевременность развертывания узлов и линий связи",
        "bad_anser": "Выбор средств связи::Устойчивая работа узлов и линий связи::Назначение и состав радиолиний (радиосетей)"
      },
      {
        "question": "8. Линии связи привязки предназначены",
        "good_anser": "для передачи каналов связи, образованных опорной сетью, а также каналов государственной сети связи на узлы связи пунктов управления",
        "bad_anser": "для восполнения подразделений в средствах связи и автоматизации управления, поддержания их в постоянной готовности к применению, обеспечения безотказной работы, быстрого восстановления (ремонта) при повреждениях и возвращения в строй::для решения задач, вызванных изменениями обстановки. Он создается за счет штатных средств подразделений связи. Израсходованные резервы должны в возможно короткие сроки восстанавливаться::для обеспечения устойчивости функционирования системы связи, комплексов средств автоматизации в любых условиях обстановки"
      },
      {
        "question": "9. Орган ТОС и АСУ предназначен",
        "good_anser": "для восполнения подразделений в средствах связи и автоматизации управления, поддержания их в постоянной готовности к применению, обеспечения безотказной работы, быстрого восстановления (ремонта) при повреждениях и возвращения в строй",
        "bad_anser": "для передачи каналов связи, образованных опорной сетью, а также каналов государственной сети связи на узлы связи пунктов управления::для решения задач, вызванных изменениями обстановки. Он создается за счет штатных средств подразделений связи. Израсходованные резервы должны в возможно короткие сроки восстанавливаться::для обеспечения устойчивости функционирования системы связи, комплексов средств автоматизации в любых условиях обстановки"
      },
      {
        "question": "10. Резерв сил и средств связи предназначен",
        "good_anser": "для решения задач, вызванных изменениями обстановки. Он создается за счет штатных средств подразделений связи. Израсходованные резервы должны в возможно короткие сроки восстанавливаться",
        "bad_anser": "для передачи каналов связи, образованных опорной сетью, а также каналов государственной сети связи на узлы связи пунктов управления::для восполнения подразделений в средствах связи и автоматизации управления, поддержания их в постоянной готовности к применению, обеспечения безотказной работы, быстрого восстановления (ремонта) при повреждениях и возвращения в строй::для обеспечения устойчивости функционирования системы связи, комплексов средств автоматизации в любых условиях обстановки"
      }
    ];
