extends common/_test
block variable
  -var title = 'Тест Связь радио и проводными средствами в мсб (тб) и адн в основных видах боя'
  -var titleTest = 'Тест по теме: <b>Связь радио и проводными средствами в мсб (тб) и адн в основных видах боя</b>'
block question
  script.
    window.questions = [
      {
        "question": "1. Связь радиосредствами в мсб (тб) и адн в основных видах боя организовывается",
        "good_anser": "все ответы верны",
        "bad_anser": "связь со старшим штабом::связь с подчиненными подразделениями и в подчиненных подразделения::связь взаимодействия"
      },
      {
        "question": "2. При действии мотострелкового батальона в составе бригады, радиосвязь между командирами батальона и бригады обеспечивается по",
        "good_anser": "УКВ и КВ радиосетям",
        "bad_anser": "КВ радиосетям::УКВ радиосетям::УКВ и КВ и СВ радиосетям"
      },
      {
        "question": "3. Связь начальника штаба батальона с начальником штаба бригады обеспечивается по",
        "good_anser": "УКВ радиосетям",
        "bad_anser": "УКВ и КВ радиосетям::КВ радиосетям::УКВ и КВ и СВ радиосетям"
      },
      {
        "question": "4. Для организации и обеспечения связи проводными средствами в мсб имеется кабель П-2, км",
        "good_anser": "20",
        "bad_anser": "40::30::10"
      },
      {
        "question": "5. Для организации и обеспечения связи проводными средствами в мсб имеется ТА-57, шт",
        "good_anser": "20",
        "bad_anser": "10::30::40"
      },
      {
        "question": "6. Для организации и обеспечения связи проводными средствами в мсб имеется коммутатор П-193М2, шт",
        "good_anser": "2",
        "bad_anser": "3::4::6"
      },
      {
        "question": "7. Связь проводными средствами командира дивизиона с командиром и штабом мотострелковой бригады организуется",
        "good_anser": "распоряжением по связи штаба бригады и обеспечивается силами и средствами батальона связи бригады по направлению проводной связи от УС КП мсбр к УС КНП дивизиона, кабелем П-2 (П-274)",
        "bad_anser": "распоряжением по связи штаба дивизиона и обеспечивается силами и средствами взвода управления дивизиона по направлениям от УС КНП дивизиона кабелем П-2 (П-274)::распоряжением по связи штаба дивизиона и обеспечивается силами и средствами взвода управления дивизиона по направлениям от ПУО дивизиона кабелем П-2 (П-274)::распоряжением по связи штаба дивизиона и командира батареи и обеспечивается силами и средствами взвода управления батареи по направлениям кабелем П-2 (П-274)"
      },
      {
        "question": "8. Связь проводными средствами командира артиллерийского дивизиона с ПУО (штабом дивизиона), с передовым (боковым) наблюдательным пунктом, с командно-наблюдательными пунктами батарей, общевойсковым подразделением, которому придан дивизион или которого поддерживает огнем, организуется",
        "good_anser": "распоряжением по связи штаба дивизиона и обеспечивается силами и средствами взвода управления дивизиона по направлениям от УС КНП дивизиона кабелем П-2 (П-274)",
        "bad_anser": "распоряжением по связи штаба бригады и обеспечивается силами и средствами батальона связи бригады по направлению проводной связи от УС КП мсбр к УС КНП дивизиона, кабелем П-2 (П-274)::распоряжением по связи штаба дивизиона и обеспечивается силами и средствами взвода управления дивизиона по направлениям от ПУО дивизиона кабелем П-2 (П-274)::распоряжением по связи штаба дивизиона и командира батареи и обеспечивается силами и средствами взвода управления батареи по направлениям кабелем П-2 (П-274)"
      },
      {
        "question": "9. Связь проводными средствами от ПУО (штаба дивизиона) с ПУО батарей, на которых находятся старшие офицеры батарей, организуется",
        "good_anser": "распоряжением по связи штаба дивизиона и обеспечивается силами и средствами взвода управления дивизиона по направлениям от ПУО дивизиона кабелем П-2 (П-274)",
        "bad_anser": "распоряжением по связи штаба бригады и обеспечивается силами и средствами батальона связи бригады по направлению проводной связи от УС КП мсбр к УС КНП дивизиона, кабелем П-2 (П-274)::распоряжением по связи штаба дивизиона и обеспечивается силами и средствами взвода управления дивизиона по направлениям от УС КНП дивизиона кабелем П-2 (П-274)::распоряжением по связи штаба дивизиона и командира батареи и обеспечивается силами и средствами взвода управления батареи по направлениям кабелем П-2 (П-274)"
      },
      {
        "question": "10. Связь проводными средствами от КНП артиллерийской батареи с передовым (боковым) наблюдательным пунктом батареи, с пунктом управления огнем батареи и огневой позицией организуется",
        "good_anser": "распоряжением по связи штаба дивизиона и командира батареи и обеспечивается силами и средствами взвода управления батареи по направлениям кабелем П-2 (П-274)",
        "bad_anser": "распоряжением по связи штаба бригады и обеспечивается силами и средствами батальона связи бригады по направлению проводной связи от УС КП мсбр к УС КНП дивизиона, кабелем П-2 (П-274)::распоряжением по связи штаба дивизиона и обеспечивается силами и средствами взвода управления дивизиона по направлениям от УС КНП дивизиона кабелем П-2 (П-274)::распоряжением по связи штаба дивизиона и обеспечивается силами и средствами взвода управления дивизиона по направлениям от ПУО дивизиона кабелем П-2 (П-274)"
      }
    ];
