extends common/_test
block variable
  -var title = 'Тест Система связи мотострелковой бригады (мсбр)'
  -var titleTest = 'Тест по теме: <b>Система связи мотострелковой бригады (мсбр)</b>'
block question
  script.
    window.questions = [{
      "question": "Количество мотострелковых батальонов в бригаде?",
      "good_anser": "3",
      "bad_anser": "2.::1.::4."
    }, {
      "question": "Мотострелковая бригады может:",
      "good_anser": "Все ответы верны",
      "bad_anser": "Действовать в авангарде группировки войск на ТВД, совершать обходящие и рейдовые действия.::Совершать марш своим ходом, перевозку на транспорте, либо совершать марш комбинированным способом.::Вести встречный бой."
    }, {
      "question": "Глубина обороны бригады:",
      "good_anser": "10-15 км.",
      "bad_anser": "1-3 км.::До 5 км.::30-40 км."
    }, {
      "question": "Совокупность взаимоувязанных и согласованных по задачам узлов и линий связи различного назначения, создаваемых (развертываемых) для решения задач обеспечения управления войсками (силами):",
      "good_anser": "Система связи.",
      "bad_anser": "Узел связи.::Пункт управления.::Аппаратная."
    }, {
      "question": "К структурным принципам построения системы связи мсбр относится:",
      "good_anser": "Принцип связей через ВУС.",
      "bad_anser": "Единство системы связи для всех родов войск и специальных войск.::Нет верного ответа.::Принцип ответственности старшего штаба за связь с подчиненными."
    }, {
      "question": "К организационным принципам построения системы связи мсбр относится:",
      "good_anser": "Принцип ответственности старшего штаба за связь с подчиненными.",
      "bad_anser": "Сочетание прямых связей и связей через ВУС.::Поддержание прямых связей между ПУ.::Принцип связей через ВУС."
    }, {
      "question": "К классификационному делению системы связи НЕ относится:",
      "good_anser": "Позиционное деление.",
      "bad_anser": "Структурное деление.::Функциональное деление.::Деление по подсистемам управления."
    }, {
      "question": "В состав батальона связи входит:",
      "good_anser": "Взвод связи мобильных средств.",
      "bad_anser": "Рота связи мобильных средств.::Рота материального обеспечения.::Нет верного ответа."
    }, {
      "question": "В состав отделения связи штаба бригады входит:",
      "good_anser": "Заместитель начальника штаба по связи.",
      "bad_anser": "3 инструктора – капитана.::Все ответы верны.::Начальник связи мср."
    }, {
      "question": "В мотострелковой (танковой) бригады имеются следующие силы и средства связи:",
      "good_anser": "Все ответы верны.",
      "bad_anser": "Батальон связи.::Станция ФПС.::Взвод управления и радиолокационной разведки начальника ПВО."
    }];