extends common/_test
block variable
  -var title = 'Тест Планирование связи и постановка задач в мсб (тб) и адн'
  -var titleTest = 'Тест по теме: <b>Планирование связи и постановка задач в мсб (тб) и адн</b>'
block question
  script.
    window.questions = [
      {
        "question": "1. Из каких документов состоит план связи мсб?",
        "good_anser": "Все ответы верны.",
        "bad_anser": "План связи.::Пояснительная записка.::Схема радиосвязи."
      },
      {
        "question": "2. Что обычно отражается на графической части (карте) плана связи?",
        "good_anser": "Место расположения резерва связи и районы его перемещения.",
        "bad_anser": "Схема радиосвязи.::Инструкции по эксплуатации средств связи.::Состав сил и средств связи противника."
      },
      {
        "question": "3. При необходимости обычно на графической части плана связи в виде таблиц могут помещаться:",
        "good_anser": "Позывные УС и станций.",
        "bad_anser": "Состав сил и средств связи противника.::Технические характеристики бронетехники.::Позывные медицинского пункта."
      },
      {
        "question": "4. План связи  подписывается:",
        "good_anser": "Начальником штаба и начальником связи батальона.",
        "bad_anser": "Командиром батальона.::Командиром отделения.::Начальником связи батареи."
      },
      {
        "question": "5. На схеме радиосвязи в мсб (тб) указываются:",
        "good_anser": "Аппаратные, КШМ, МБУ в составе которых находятся радиостанции.",
        "bad_anser": "Длины проводных линий.::Огневые позиции сил связи.::Все ответы верны."
      },
      {
        "question": "6. Пояснительная записка плана связи разрабатывается:",
        "good_anser": "Текстуально в рабочей тетради начальника связи.",
        "bad_anser": "Графически на карте.::Графически в рабочей тетради командира батальона.::Текстуально в рабочей тетради командира батальона."
      },
      {
        "question": "7. Задачи (по связи) командирам подразделений батальона ставятся:",
        "good_anser": "Распоряжениям по связи штаба батальона.",
        "bad_anser": "Боевым распоряжением.::Срочным донесением.::Внесрочным приказом."
      },
      {
        "question": "8. Задачи (по связи) взводу связи батальона ставятся:",
        "good_anser": "Боевым распоряжением.",
        "bad_anser": "Распоряжениям по связи штаба батальона.::Срочным донесением.::Внесрочным приказом."
      },
      {
        "question": "9. В распоряжении по связи указываются:",
        "good_anser": "Все ответы верны.",
        "bad_anser": "Порядок организации и обеспечения связи взаимодействия на одну ступень ниже.::Режимы работы различных средств связи.::Сроки готовности связи и порядок представления донесений по связи."
      },
      {
        "question": "10. Распоряжение по связи отрабатывается:",
        "good_anser": "На типовом бланке.",
        "bad_anser": "В рабочей тетради начальника связи.::Устным приказом.::Графически на карте."
      }
    ];