extends common/_test
block variable
  -var title = 'Тест Морально-психологическое обеспечение войск связи.'
  -var titleTest = 'Тест по теме: <b>Морально-психологическое обеспечение войск связи.</b>'
block question
  script.
  .container.text-justify
    .uk-card.uk-card-default.mb-4
      .uk-card-body
        button.uk-button.uk-button-primary.uk-margin-small-right(type='button', data-uk-toggle='target: #offcanvas-nav-primary') Открыть содержание
        h1.uk-h2 Тест по теме: <b>Морально-психологическое обеспечение войск связи.</b>
        script.
          window.questions = [
            {
              "question": "Цели морально-психологического обеспечения достигаются",
              "good_anser": "обеспечением войск техническими средствами воспитания",
              "bad_anser": "поддержанием постоянной боевой и мобилизационной готовности сил и средств морально-психологического обеспечения::четким планированием и высокой организованностью морально-психологического обеспечения::все ответы верны"
            },{
              "question": "Цели морально-психологического обеспечения достигаются",
              "good_anser": "все ответы верны",
              "bad_anser": "проведением информационно-воспитательной работы::проведением психологической работой::проведением военно-социальной работой"
            },{
              "question": "Эффективность морально-психологического обеспечения достигается",
              "good_anser": "все ответы верны",
              "bad_anser": "маневром силами и средствами морально-психологического обеспечения::постоянным наличием резервов сил и средств морально-психологического обеспечения и умелым их использованием::организацией управления морально-психологического обеспечения"
            },{
              "question": "Эффективность морально-психологического обеспечения достигается",
              "good_anser": "согласованным применением всех сил и средств морально-психологического обеспечения",
              "bad_anser": "проведением мероприятий по защите личного состава частей и подразделений связи от информационно-психологического воздействия противника::проведением культурно-досуговой работой::все ответы верны"
            },{
              "question": "На карте плана морально-психологического обеспечения отображаются",
              "good_anser": "объекты информационно-психологического воздействия противника",
              "bad_anser": "силы и средства психологических операций противника::порядок управления морально-психологическим обеспечением::все ответы верны"
            },{
              "question": "В распоряжении по морально-психологическому обеспечению указываются",
              "good_anser": "содержание основных мероприятий по видам морально-психологического обеспечения в органах управления и войсках",
              "bad_anser": "замысел морально-психологического обеспечения::цели, задачи, состав сил и средств морально-психологического обеспечения и сроки их развертывания::все ответы верны"
            },{
              "question": "В пояснительной записке указываются",
              "good_anser": "все ответы верны",
              "bad_anser": "выводы из оценки морально-психологической и информационной обстановки, морально- психологического состояния своих войск и войск противника::замысел морально-психологического обеспечения::прогноз психогенных потерь"
            },{
              "question": "Задача психологической работы",
              "good_anser": "формирование психологической устойчивости и готовности личного состава выполнить задачи по обеспечению связи в бою",
              "bad_anser": "определение уровня социальной защищенности военнослужащих и членов их семей::рассмотрение и разрешение жалоб и заявлений по социальным вопросам военнослужащих и членов их семей::анализ и прогнозирование информационной обстановки"
            },{
              "question": "Задача защиты частей и подразделений связи от информационно-психологического воздействия противника",
              "good_anser": "анализ и прогнозирование информационной обстановки",
              "bad_anser": "обеспечение войск техническими средствами воспитания текущего довольствия, правильное их распределение::определение уровня социальной защищенности военнослужащих и членов их семей::ремонт и восполнение потерь и некомплекта технических средств воспитания"
            },{
              "question": "Задача обеспечения войск техническими средствами воспитания",
              "good_anser": "ремонт и восполнение потерь и некомплекта технических средств воспитания",
              "bad_anser": "осуществление психологического сопровождения действий частей и подразделений связи::соблюдение международных правил ведения военных действий, обращения с ранеными и больными, гражданским населением в районе боевых действий, а также военнопленными::рассмотрение и разрешение жалоб и заявлений по социальным вопросам военнослужащих и членов их семей"
            }
          ];