extends common/_test
block variable
  -var title = 'Тест Подразделения связи мсб (тб) и адн'
  -var titleTest = 'Тест по теме: <b>Подразделения связи мсб (тб) и адн</b>'
block question
  script.
    window.questions = [
      {
        "question": "1. Отделение управления командира мсб предназначено",
        "good_anser": "для обеспечения связи командиру батальона с командиром бригады, командирами подчиненных , приданных и взаимодействующих подразделений",
        "bad_anser": "для обеспечения связи начальнику штаба батальона с начальником штаба полка и командирами подчиненных, приданных и взаимодействующих подразделений::для обеспечения радио и проводной связи командиру и штабу батальона с командирами подчиненных подразделений, а также для развертывания и эксплуатационного обслуживания УС КНП батальона и обеспечения внутренней связи на нем"
      },
      {
        "question": "2. Отделение связи мсб предназначено",
        "good_anser": "для обеспечения радио и проводной связи командиру и штабу батальона с командирами подчиненных подразделений, а также для развертывания и эксплуатационного обслуживания УС КНП батальона и обеспечения внутренней связи на нем",
        "bad_anser": "для обеспечения связи командиру батальона с командиром бригады, командирами подчиненных , приданных и взаимодействующих подразделений::для обеспечения связи начальнику штаба батальона с начальником штаба полка и командирами подчиненных, приданных и взаимодействующих подразделений"
      },
      {
        "question": "3. Какую КШМ имеет отделение управления командира мсб",
        "good_anser": "Р-149БМР",
        "bad_anser": "БТР-80К::БМП-2::Т-72БК"
      },
      {
        "question": "4. Сколько км кабеля П-2 выдается отделению связи мсб",
        "good_anser": "20",
        "bad_anser": "40::30::10"
      },
      {
        "question": "5. Сколько телефонных аппаратов ТА-57 выдается отделению связи мсб",
        "good_anser": "20",
        "bad_anser": "40::30::10"
      },
      {
        "question": "6. Какую КШМ имеет отделение управления командира тб",
        "good_anser": "Т-72БК",
        "bad_anser": "1В156::1В157::БМП-2"
      },
      {
        "question": "7. Сколько км кабеля П-2 выдается отделению связи тб",
        "good_anser": "12",
        "bad_anser": "20::8::16"
      },
      {
        "question": "8. На вооружении отделения разведки и сопряженного наблюдения адн имеется",
        "good_anser": "ПРП-4",
        "bad_anser": "БМП-2::БТР-80К::Р-149БМР"
      },
      {
        "question": "9. Дальность  связи в Р-149БМР по УКВ р/станциям",
        "good_anser": "до 30 км в движении, до 60 км на стоянке",
        "bad_anser": "до 15 км в движении, до 30 км на стоянке::до 90 км в движении, до 120 км на стоянке::до 100 км в движении, до 200 км на стоянке"
      },
      {
        "question": "10. Взвод управления адн предназначен",
        "good_anser": "для обеспечения связи командиру и штабу дивизиона со старшим командиром (штабом), с подчиненными и взаимодействующими подразделениями, с ПУО, ПНП (БНП) адн, а также для ведения разведки противника и местности, наблюдения за результатами стрельбы и корректировки огня",
        "bad_anser": "для развертывания и эксплуатационного обслуживания УС КНП тб и обеспечения связи командиру и штабу батальона с командиром  и штабом бригады, с командирами подчиненных, приданных и взаимодействующих подразделений и организации внутренней связи на КНП батальона::для развертывания и эксплуатационного обслуживания УС КНП мсб и обеспечения связи командиру и штабу батальона с командиром  и штабом бригады, с командирами подчиненных, приданных и взаимодействующих подразделений и организации внутренней связи на КНП батальона"
      }
    ];;
