extends common/_test
block variable
  -var title = 'Тест Система связи'
  -var titleTest = 'Тест по теме: <b>Система связи</b>'
block question
  script.
          window.questions = [
            {
              "question": "1)﻿Организационно-техническое объединение сил и средств связи и автоматизированного управления, развернутых на пункте управления или в пункте распределения (коммутации) каналов (сообщений) для обмена информацией в процессе управления войсками (силами)",
              "good_anser": "Узел связи ПУ",
              "bad_anser": "Система связи::Линия связи::Направление связи"
            },
            {
              "question": "2)﻿Линии привязки предназначены",
              "good_anser": "﻿для передачи каналов связи, образованных опорной сетью, а также каналов государственной сети связи на узлы связи ПУ",
              "bad_anser": "﻿для обеспечения связи непосредственно между УС ПУ::﻿для приема, обработки и доставки боевых документов, всех видов секретных и почтовых отправлений, периодической печати::﻿для восполнения потребностей войск (сил) в средствах связи и автоматизации управления, поддержания их в постоянной готовности к применению, обеспечения безотказной работы, быстрого восстановления (ремонта) при повреждениях и возвращения в строй"
            },
            {
              "question": "3)﻿Линии прямой связи предназначаются",
              "good_anser": "для обеспечения связи непосредственно между УС ПУ",
              "bad_anser": "﻿для передачи каналов связи, образованных опорной сетью, а также каналов государственной сети связи на узлы связи ПУ::﻿для приема, обработки и доставки боевых документов, всех видов секретных и почтовых отправлений, периодической печати::﻿для восполнения потребностей войск (сил) в средствах связи и автоматизации управления, поддержания их в постоянной готовности к применению, обеспечения безотказной работы, быстрого восстановления (ремонта) при повреждениях и возвращения в строй"
            },
            {
              "question": "4) Система технического обеспечения связи и АСУ предназначена",
              "good_anser": "для восполнения потребностей войск (сил) в средствах связи и автоматизации управления, поддержания их в постоянной готовности к применению, обеспечения безотказной работы, быстрого восстановления (ремонта) при повреждениях и возвращения в строй",
              "bad_anser": "для обеспечения связи непосредственно между УС ПУ::﻿для передачи каналов связи, образованных опорной сетью, а также каналов государственной сети связи на узлы связи ПУ::﻿для приема, обработки и доставки боевых документов, всех видов секретных и почтовых отправлений, периодической печати"
            },
            {
              "question": "5)﻿Способность в любое время и в любых условиях обстановки выполнять задачи по обеспечению управления войсками, силами и боевыми средствами",
              "good_anser": "﻿Боевая готовность системы связи",
              "bad_anser": "﻿Устойчивость системы связи::﻿Мобильность системы связи::﻿Пропускная способность системы связи"
            },
            {
              "question": "6) ﻿Способность системы военной связи обеспечивать управление войсками (силами) и оружием при всех воздействующих факторах.",
              "good_anser": "Устойчивость системы связи",
              "bad_anser": "Боевая готовность системы связи::﻿Мобильность системы связи::﻿Пропускная способность системы связи"
            },
            {
              "question": "7) ﻿Способность системы связи противостоять всем видам разведки противника",
              "good_anser": "Разведзащищенность системы связи",
              "bad_anser": "﻿Боевая готовность системы связи::﻿Устойчивость системы связи::﻿Пропускная способность системы связи"
            },
            {
              "question": "8)﻿Способность системы связи изменять свое состояние в заданных пределах при воздействиях на нее органов управления связью в соответствии с изменениями обстановки",
              "good_anser": "Управляемость системы связи",
              "bad_anser": "﻿Боевая готовность системы связи::﻿Устойчивость системы связи::﻿Разведзащищенность системы связи"
            },
            {
              "question": "9) Доступность системы связи достигается",
              "good_anser": "﻿рациональным выбором состава и структуры системы связи",
              "bad_anser": "﻿эффективным использованием каналов, линий, сетей и средств связи::﻿применением аппаратуры быстродействия и сверхбыстродействия::﻿правильным уяснением задач, поставленных старшим начальником, своевременной и четкой их постановкой подчиненным"
            },
            {
              "question": "10) ﻿Необходимая пропускная способность, системы связи достигается",
              "good_anser": "﻿эффективным использованием каналов, линий, сетей и средств связи",
              "bad_anser": "﻿рациональным выбором состава и структуры системы связи::﻿прогнозированием возможностей группировки разведки противника и его воздействия на систему и войска связи::﻿правильным уяснением задач, поставленных старшим начальником, своевременной и четкой их постановкой подчиненным"
            }
          ];