extends common/_test
block variable
  -var title = 'Тест Постанова задач подразделениям, донесения (сводки) по связи'
  -var titleTest = 'Тест по теме: <b>Постанова задач подразделениям, донесения (сводки) по связи</b>'
block question
  script.
    window.questions = [
      {
        "question": "1. Из каких документов состоит план связи мсб?",
        "good_anser": "Все ответы верны.",
        "bad_anser": "План связи.::Пояснительная записка.::Схема радиосвязи."
      },
      {
        "question": "2. План связи  подписывается:",
        "good_anser": "Начальником штаба и начальником связи батальона.",
        "bad_anser": "Командиром батальона.::Командиром отделения.::Начальником связи батареи."
      },
      {
        "question": "3. Задачи (по связи) командирам подразделений батальона ставятся:",
        "good_anser": "Распоряжениям по связи штаба батальона.",
        "bad_anser": "Боевым распоряжением.::Срочным донесением.::"
      },
      {
        "question": "4. По характеру содержащихся сведений донесения могут быть:",
        "good_anser": "Срочными и внесрочными.",
        "bad_anser": "Срочными и бессрочными.::Срочными и временными.::Экстренными и важными."
      },
      {
        "question": "5. К какому принципу организации связи для взаимодействия войск относится определение: между взаимодействующими подразделениями связь организуется распоряжением вышестоящего штаба?",
        "good_anser": "Принцип исходных данных для организации связи взаимодействия.",
        "bad_anser": "Принцип ответственности за организацию связи взаимодействия.::Принцип ответственности за выделение средств для связи взаимодействия.::Принцип организации связи  мотострелковых и танковых подразделений с действующей артиллерией."
      },
      {
        "question": "6. Цели морально-психологического обеспечения достигаются проведением:",
        "good_anser": "Все ответы верны.",
        "bad_anser": "Информационно-воспитательной работы.::Психологической, военно-социальной и культурно-досуговой работой.::Обеспечением взвода техническими средствами воспитания."
      },
      {
        "question": "7. При инженерном оборудовании района обороны (опорного пункта) батальона  в условиях непосредственного соприкосновения с противником, в первую очередь:",
        "good_anser": "Отрываются  одиночные (парные) окопы.",
        "bad_anser": "Отрываются  окопы на отделения.::Совершенствуется инженерное оборудование района обороны.::Нет верного ответа."
      },
      {
        "question": "8. Какой это способ маскировки: создание ложных позиций и районов расположения войск путем возведения ложных сооружений, применения макетов техники и других инженерных средств для введения противника в заблуждение?",
        "good_anser": "Имитация.",
        "bad_anser": "Демонстративные действия.::Дезинформация.::Скрытие."
      },
      {
        "question": "9. Основными демаскирующими признаками войск и объектов являются:",
        "good_anser": "Все ответы верны.",
        "bad_anser": "Форма и размеры.::Собственные и падающие тени от техники и сооружений.::Отблески от стекол, металла техники и вооружения."
      },
      {
        "question": "10. К электронно-оптической разведке относится:",
        "good_anser": "Инфракрасная разведка.",
        "bad_anser": "Магнитометрическая разведка.::Сейсмическая разведка.::Зрительная разведка."
      }
    ];