extends common/_test
block variable
  -var title = 'Тест Основы материально-технического обеспечения войск.'
  -var titleTest = 'Тест по теме: <b>Основы материально-технического обеспечения войск.</b>'
block question
  script.
          window.questions = [
            {
              "question": "Обеспечение вооружением и техникой заключается",
              "good_anser": "в создании установленных запасов (резервов)",
              "bad_anser": "в эксплуатации вооружения, военной техники и военно-технического имущества::в технической и специальной подготовке личного состава::в восстановлении (техническую разведку, эвакуацию, ремонт и возвращение в строй) поврежденных (неисправных) вооружения и техники"
            },{
              "question": "Какое обеспечение включает эксплуатацию и восстановление техники связи и АСУ",
              "good_anser": "техническое обеспечение связи и асу",
              "bad_anser": "артиллерийско-техническое обеспечение::танкотехническое обеспечение::автотехническое обеспечение"
            },{
              "question": "Какое обеспечение включает техническую и специальную подготовку личного состава",
              "good_anser": "все ответы верны",
              "bad_anser": "инженерно-техническое обеспечение::техническое обеспечение рхб защиты::автотехническое обеспечение"
            },{
              "question": "Какое обеспечение включает эксплуатацию (техническое обслуживание, поверку) и ремонт измерительной техники",
              "good_anser": "метрологическое  обеспечение",
              "bad_anser": "техническое обеспечение по службам тыла::танкотехническое обеспечение::техническое обеспечение рхб защиты"
            },{
              "question": "Какое обеспечение включает эксплуатацию бронетанкового вооружения, техники и бронетанкового имущества и  их восстановление",
              "good_anser": "танкотехническое обеспечение",
              "bad_anser": "метрологическое  обеспечение::техническое обеспечение по службам тыла::техническое обеспечение рхб защиты"
            },{
              "question": "Какого вида тылового обеспечения не бывает",
              "good_anser": "нет верного ответа",
              "bad_anser": "финансовое обеспечение::медицинское обеспечение::транспортное обеспечение"
            },{
              "question": "Медицинское обеспечение организуется и осуществляется в интересах",
              "good_anser": "сохранения боеспособности, укрепления здоровья личного состава части и подразделений связи, предупреждения возникновения и распространения заболеваний, своевременного оказания медицинской помощи раненым и больным, эвакуация раненых и больных, лечения и быстрейшего возвращения в строй",
              "bad_anser": "своевременного и полного удовлетворения потребностей системы, части и подразделений связи в технике, вооружении, боеприпасах, горючем, средствах защиты от оружия массового поражения, продовольствии, вещевом, медицинском, различном техническом имуществе и иных материальных средствах::своевременного удовлетворения потребностей части связи в денежных средствах::для обеспечения перевозок части и подразделений связи, доставки материальных средств и эвакуации"
            },{
              "question": "Материальное обеспечение организуется и осуществляется в целях",
              "good_anser": "своевременного и полного удовлетворения потребностей системы, части и подразделений связи в технике, вооружении, боеприпасах, горючем, средствах защиты от оружия массового поражения, продовольствии, вещевом, медицинском, различном техническом имуществе и иных материальных средствах",
              "bad_anser": "своевременного удовлетворения потребностей части связи в денежных средствах::для обеспечения перевозок части и подразделений связи, доставки материальных средств и эвакуации::сохранения боеспособности, укрепления здоровья личного состава части и подразделений связи, предупреждения возникновения и распространения заболеваний, своевременного оказания медицинской помощи раненым и больным, эвакуация раненых и больных, лечения и быстрейшего возвращения в строй"
            },{
              "question": "Транспортное обеспечение организуется и осуществляется в целях",
              "good_anser": "для обеспечения перевозок части и подразделений связи, доставки материальных средств и эвакуации",
              "bad_anser": "своевременного и полного удовлетворения потребностей системы, части и подразделений связи в технике, вооружении, боеприпасах, горючем, средствах защиты от оружия массового поражения, продовольствии, вещевом, медицинском, различном техническом имуществе и иных материальных средствах::своевременного удовлетворения потребностей части связи в денежных средствах::сохранения боеспособности, укрепления здоровья личного состава части и подразделений связи, предупреждения возникновения и распространения заболеваний, своевременного оказания медицинской помощи раненым и больным, эвакуация раненых и больных, лечения и быстрейшего возвращения в строй"
            },
            {
              "question": "Основные мероприятия материального обеспечения",
              "good_anser": "все ответы верны",
              "bad_anser": "Подвоз всех видов материальных средств::Заправка боевой и иной техники горючим::Эвакуация больных"
            }
          ];