extends common/_test
block variable
  -var title = 'Тест Обеспечение  живучести системы связи мсб (тб) и адн'
  -var titleTest = 'Тест по теме: <b>Обеспечение  живучести системы связи мсб (тб) и адн</b>'
block question
  script.
    window.questions = [
      {
        "question": "1. При инженерном оборудовании района обороны (опорного пункта) батальона  в условиях непосредственного соприкосновения с противником, в первую очередь:",
        "good_anser": "Отрываются  одиночные (парные) окопы.",
        "bad_anser": "Отрываются  окопы на отделения.::Совершенствуется инженерное оборудование района обороны.::Нет верного ответа."
      },
      {
        "question": "2. Маскировка района обороны (опорного пункта) осуществляется ...",
        "good_anser": "Непрерывно с началом его инженерного оборудования.",
        "bad_anser": "Непрерывно по окончанию его инженерного оборудования.::После постановки приказа начальником связи.::По срочному донесению."
      },
      {
        "question": "3. Инженерное оборудование УС включает:",
        "good_anser": "Все варианты верны.",
        "bad_anser": "Расчистку секторов обзора и обстрела.::Подготовку подъездных путей.::Оборудование водоразборных пунктов."
      },
      {
        "question": "4. Какой это способ маскировки: создание ложных позиций и районов расположения войск путем возведения ложных сооружений, применения макетов техники и других инженерных средств для введения противника в заблуждение?",
        "good_anser": "Имитация.",
        "bad_anser": "Демонстративные действия.::Дезинформация."
      },
      {
        "question": "5. Какой это способ маскировки: преднамеренный показ ложной деятельности реальных подразделений при передвижении, сосредоточении, ведении боевых и других действий на ложных направлениях?",
        "good_anser": "Демонстративные действия.",
        "bad_anser": "Дезинформация.::Имитация.::Скрытие."
      },
      {
        "question": "6. Маскировка должна быть:",
        "good_anser": "Нет верного ответа.",
        "bad_anser": "Опорной.::Повседневной.::Незаметной."
      },
      {
        "question": "7.Основными демаскирующими признаками войск и объектов являются:",
        "good_anser": "Все ответы верны.",
        "bad_anser": "Форма и размеры.::Собственные и падающие тени от техники и сооружений.::Отблески от стекол, металла техники и вооружения."
      },
      {
        "question": "8. Радиоэлектронная разведка включает:",
        "good_anser": "Радиотехническую разведку.",
        "bad_anser": "Радионавигационную разведку.::Эхолокационную разведку.::Радиоиндукционную разведку."
      },
      {
        "question": "9. Что это за вид разведки: получение информации путём обнаружения и анализа деформационных и сдвиговых полей, возникающих в грунте при различных воздействиях на неё?",
        "good_anser": "Сейсмическая разведка.",
        "bad_anser": "Магнитометрическая разведка.::Инфракрасная разведка.::Оптоэлектронная разведка."
      },
      {
        "question": "10. К электронно-оптической разведке относится:",
        "good_anser": "Инфракрасная разведка.",
        "bad_anser": "Магнитометрическая разведка.::Сейсмическая разведка.::Зрительная разведка."
      }
    ];