extends common/_test
block variable
  -var title = 'Тест Силы и средства связи соединений (частей) Сухопутных войск.'
  -var titleTest = 'Тест по теме: <b>Силы и средства связи соединений (частей) Сухопутных войск.</b>'
block question
  .container.text-justify
    .uk-card.uk-card-default.mb-4
      .uk-card-body
        button.uk-button.uk-button-primary.uk-margin-small-right(type='button', data-uk-toggle='target: #offcanvas-nav-primary') Открыть содержание
        h1.uk-h2 Тест по теме: <b>Силы и средства связи соединений (частей) Сухопутных войск.</b>
        script.
          window.questions = [
            {
              "question": "1)﻿По принадлежности к звену управления, которое они обеспечивают связью, войска связи могут делиться на:",
              "good_anser": "﻿Все ответы верны.",
              "bad_anser": "﻿Войска связи главных штабов видов Вооруженных сил.::﻿Войска связи соединений (дивизий, бригад).::﻿Войска связи штабов Главного командования."
            },
            {
              "question": "2)﻿По функциональному предназначению соединения, части и подразделения связи могут делиться на:",
              "good_anser": "﻿Оба ответа верны.",
              "bad_anser": "﻿Технического   обеспечения.::﻿Узловые.::﻿﻿Нет верного ответа."
            },
            {
              "question": "3)﻿Целенаправленное использование подразделений связи для развертывания системы связи с целью обеспечения устойчивого, непрерывного, оперативного и скрытного управления войсками – это:",
              "good_anser": "﻿Боевое применение подразделений связи.",
              "bad_anser": "﻿Боевое разделение подразделений связи.::﻿Соединение подразделений связи.::﻿Управление подразделениями связи.﻿"
            },
            {
              "question": "4)﻿Что НЕ входит в силы и средства связи мсбр?",
              "good_anser": "﻿Боевые подразделения зрв.",
              "bad_anser": "﻿Подразделения связи (управления) подразделений бригады.::﻿Взвод связи батареи управления и артиллерийской разведки начальника артиллерии (вс батруар НА).::﻿Станция ФПС."
            },
            {
              "question": "5)﻿Управление связью должно обеспечивать:",
              "good_anser": "﻿Своевременное прохождение всех видов информации в системах управления войсками.",
              "bad_anser": "﻿Своевременную подготовку инженерных заграждений.::﻿Осуществление мероприятий по маскировке вооружений.::﻿Оперативное восстановление боеспособности боевых подразделений."
            },
            {
              "question": "6)﻿Составные части управления:",
              "good_anser": "﻿Устойчивость, непрерывность, оперативность, скрытность.",
              "bad_anser": "﻿Устойчивость, прерывность, открытость.::﻿Устойчивость, непрерывность, открытость, динамичность.::﻿Непрерывность, динамичность, открытость, оперативность."
            },
            {
              "question": "7)﻿Органами управления связью в соединении являются:",
              "good_anser": "﻿Все ответы верны.",
              "bad_anser": "﻿Отделение связи штаба соединения.::﻿Командование и штаб  части связи, командиры подразделений связи. ::﻿﻿Начальники связи и командиры подразделений связи воинских частей соединения и другие постоянные и временно создаваемые группы для управления элементами системы связи соединения в различной обстановке."
            },
            {
              "question": "8)﻿Планирует и организует связь, а также обеспечивает техническую эксплуатацию системы связи и автоматизированного управления войсками на пунктах управления:",
              "good_anser": "﻿Отделение связи.",
              "bad_anser": "﻿ПУС.::﻿КНП.::﻿﻿Командир батальона."
            },
            {
              "question": "9)﻿Является основным местом работы начальника связи и дежурной смены. Оборудуется автоматизированными рабочими местами:",
              "good_anser": "﻿Пункт управления связью.",
              "bad_anser": "﻿Командный пункт.::﻿Наблюдательный пункт. ::﻿﻿Нет верного ответа."
            },
            {
              "question": "10)﻿К стационарным организациям, частям и подразделениям связи относятся:",
              "good_anser": "﻿Нет верного ответа.",
              "bad_anser": "﻿Полки связи. :: ﻿Отделения связи.::﻿﻿Бригады связи."
            }
          ];