extends common/_test
block variable
  -var title = 'Тест Узлы связи КНП мсб (тб) и адн'
  -var titleTest = 'Тест по теме: <b>Узлы связи КНП мсб (тб) и адн</b>'
block question
  script.
    window.questions = [
      {
        "question": "1. УС КНП мсб является составной частью КНП мсб и развертывается в обороне не более … км",
        "good_anser": "2",
        "bad_anser": "3::4::6"
      },
      {
        "question": "2. УС КНП мсб является составной частью КНП мсб и развертывается в наступлении до … м от переднего края",
        "good_anser": "300",
        "bad_anser": "400::200::600"
      },
      {
        "question": "3. Группа КШМ является основным элементом УС КНП мсб и предназначена",
        "good_anser": "для обеспечения радиосвязи командиру и штабу при нахождении КНП на месте и в движении",
        "bad_anser": "для обеспечения радиосвязи в отдельных сетях, а при действии мсб без тяжелого вооружения и техники - для обеспечения радиосвязи командиру и штабу в полном объеме::для обеспечения проводной связи со старшим штабом, командирами подчиненных, приданных и взаимодействующих подразделений и другими объектами управления, внутренней связи на КНП мсб, а также для осуществления Дистанционного управления радиостанциями::для зарядки аккумуляторных батарей носимых радиостанций батальона, текущего ремонта и обслуживания средств связи"
      },
      {
        "question": "4. Группа носимых радиостанций предназначена",
        "good_anser": "для обеспечения радиосвязи в отдельных сетях, а при действии мсб без тяжелого вооружения и техники - для обеспечения радиосвязи командиру и штабу в полном объеме",
        "bad_anser": "для обеспечения радиосвязи командиру и штабу при нахождении КНП на месте и в движении::для обеспечения проводной связи со старшим штабом, командирами подчиненных, приданных и взаимодействующих подразделений и другими объектами управления, внутренней связи на КНП мсб, а также для осуществления Дистанционного управления радиостанциями::для зарядки аккумуляторных батарей носимых радиостанций батальона, текущего ремонта и обслуживания средств связи"
      },
      {
        "question": "5. Телефонная станция УС КНП мсб предназначена",
        "good_anser": "для обеспечения проводной связи со старшим штабом, командирами подчиненных, приданных и взаимодействующих подразделений и другими объектами управления, внутренней связи на КНП мсб, а также для осуществления Дистанционного управления радиостанциями",
        "bad_anser": "для обеспечения радиосвязи командиру и штабу при нахождении КНП на месте и в движении::для обеспечения радиосвязи в отдельных сетях, а при действии мсб без тяжелого вооружения и техники - для обеспечения радиосвязи командиру и штабу в полном объеме::для зарядки аккумуляторных батарей носимых радиостанций батальона, текущего ремонта и обслуживания средств связи"
      },
      {
        "question": "6. Посты полевых караулов для охраны",
        "good_anser": "выставляются у группы КШМ, штабных палатках, убежищ, в которых работают командир, НШ, зам. командира, офицеры штаба, а также у штабных машин секретного отделения и у КАС",
        "bad_anser": "несут службу внутри расположения ПУ и по их периметру::выставляются на удалении до 1 км от ПУ::выставляются в местах въезда в район размещения ПУ, на перекрестках дорог, внутри ПУ"
      },
      {
        "question": "7. Узел связи считается развернутым , если",
        "good_anser": "проложены абонентские линии связи",
        "bad_anser": "КШМ , МБУ и машины для перевозки личного состава и имущества находятся в колоннах::все оружие и секретные документы проверены и находятся в наличии::если все элементы УС свернуты"
      },
      {
        "question": "8. Узел связи КНП мсб считается свернутым, если",
        "good_anser": "начальник связи доложил командиру батальона (начальнику штаба) об окончании свертывания и готовности к совершению марша",
        "bad_anser": "установлены запланированные связи::линии ДУ КШМ и МБУ развернуты и по ним осуществляется управление радиостанциями::сделаны необходимые записи в оперативно-технической документации"
      },
      {
        "question": "9. Патрули для охраны",
        "good_anser": "несут службу внутри расположения ПУ и по их периметру",
        "bad_anser": "выставляются у группы КШМ, штабных палатках, убежищ, в которых работают командир, НШ, зам. командира, офицеры штаба, а также у штабных машин секретного отделения и у КАС::выставляются на удалении до 1 км от ПУ::выставляются в местах въезда в район размещения ПУ, на перекрестках дорог, внутри ПУ"
      },
      {
        "question": "10. Секреты и дозоры для охраны",
        "good_anser": "выставляются на удалении до 1 км от ПУ",
        "bad_anser": "выставляются у группы КШМ, штабных палатках, убежищ, в которых работают командир, НШ, зам. командира, офицеры штаба, а также у штабных машин секретного отделения и у КАС::несут службу внутри расположения ПУ и по их периметру::выставляются в местах въезда в район размещения ПУ, на перекрестках дорог, внутри ПУ"
      }
    ];