extends common/_test
block variable
  -var title = 'Тест Планирование связи в мсб в обороне'
  -var titleTest = 'Тест по теме: <b>Планирование связи в мсб в оборонеs</b>'
block question
  script.
    window.questions = [
      {
        "question": "1. Для организации и обеспечения связи проводными средствами в мсб имеется коммутатор П-193М2, шт",
        "good_anser": "2",
        "bad_anser": "4::3::6"
      },
      {
        "question": "2. Связь начальника штаба батальона с начальником штаба бригады обеспечивается по",
        "good_anser": "УКВ радиосетям",
        "bad_anser": "УКВ и КВ радиосетям::КВ радиосетям::УКВ и КВ и СВ радиосетям"
      },
      {
        "question": "3. Связь проводными средствами от ПУО (штаба дивизиона) с ПУО батарей, на которых находятся старшие офицеры батарей, организуется",
        "good_anser": "распоряжением по связи штаба дивизиона и обеспечивается силами и средствами взвода управления дивизиона по направлениям от ПУО дивизиона кабелем П-2 (П-274)",
        "bad_anser": "распоряжением по связи штаба бригады и обеспечивается силами и средствами батальона связи бригады по направлению проводной связи от УС КП мсбр к УС КНП дивизиона, кабелем П-2 (П-274)::распоряжением по связи штаба дивизиона и обеспечивается силами и средствами взвода управления дивизиона по направлениям от УС КНП дивизиона кабелем П-2 (П-274)::распоряжением по связи штаба дивизиона и командира батареи и обеспечивается силами и средствами взвода управления батареи по направлениям кабелем П-2 (П-274)"
      },
      {
        "question": "4. Взвод управления адн предназначен",
        "good_anser": "для обеспечения связи командиру и штабу дивизиона со старшим командиром (штабом), с подчиненными и взаимодействующими подразделениями, с ПУО, ПНП (БНП) адн, а также для ведения разведки противника и местности, наблюдения за результатами стрельбы и корректировки огня",
        "bad_anser": "для развертывания и эксплуатационного обслуживания УС КНП тб и обеспечения связи командиру и штабу батальона с командиром  и штабом бригады, с командирами подчиненных, приданных и взаимодействующих подразделений и организации внутренней связи на КНП батальона::для развертывания и эксплуатационного обслуживания УС КНП мсб и обеспечения связи командиру и штабу батальона с командиром  и штабом бригады, с командирами подчиненных, приданных и взаимодействующих подразделений и организации внутренней связи на КНП батальона"
      },
      {
        "question": "5. Что не входит боевой порядок адн",
        "good_anser": "огневые засады (взвод, отделение, танк, усиленные огнеметчиками и саперами)",
        "bad_anser": "пункт управления огнем::передовой (боковой) наблюдательный пункт адн::боевые порядки батарей"
      },
      {
        "question": "6. Резерв сил и средств связи предназначен",
        "good_anser": "для решения задач, вызванных изменениями обстановки. Он создается за счет штатных средств подразделений связи. Израсходованные резервы должны в возможно короткие сроки восстанавливаться",
        "bad_anser": "для передачи каналов связи, образованных опорной сетью, а также каналов государственной сети связи на узлы связи пунктов управления::для восполнения подразделений в средствах связи и автоматизации управления, поддержания их в постоянной готовности к применению, обеспечения безотказной работы, быстрого восстановления (ремонта) при повреждениях и возвращения в строй::для обеспечения устойчивости функционирования системы связи, комплексов средств автоматизации в любых условиях обстановки"
      },
      {
        "question": "7. Какого подразделения нет в организационно-штатной структуре мотострелкового батальона на БМП",
        "good_anser": "птв",
        "bad_anser": "гв::минбатр::воб"
      },
      {
        "question": "8. Орган ТОС и АСУ предназначен",
        "good_anser": "для восполнения подразделений в средствах связи и автоматизации управления, поддержания их в постоянной готовности к применению, обеспечения безотказной работы, быстрого восстановления (ремонта) при повреждениях и возвращения в строй",
        "bad_anser": "для передачи каналов связи, образованных опорной сетью, а также каналов государственной сети связи на узлы связи пунктов управления::для решения задач, вызванных изменениями обстановки. Он создается за счет штатных средств подразделений связи. Израсходованные резервы должны в возможно короткие сроки восстанавливаться::для обеспечения устойчивости функционирования системы связи, комплексов средств автоматизации в любых условиях обстановки"
      },
      {
        "question": "9. Отделение управления командира мсб предназначено",
        "good_anser": "для обеспечения связи командиру батальона с командиром бригады, командирами подчиненных , приданных и взаимодействующих подразделений",
        "bad_anser": "для обеспечения связи начальнику штаба батальона с начальником штаба полка и командирами подчиненных, приданных и взаимодействующих подразделений::для обеспечения радио и проводной связи командиру и штабу батальона с командирами подчиненных подразделений, а также для развертывания и эксплуатационного обслуживания УС КНП батальона и обеспечения внутренней связи на нем"
      },
      {
        "question": "10. Какую КШМ имеет отделение управления командира мсб",
        "good_anser": "Р-149БМР",
        "bad_anser": "БТР-80К::БМП-2::Т-72БК"
      }
    ];