extends common/_test
block variable
  -var title = 'Тест Организация связи  в мсбр в различных видах боя'
  -var titleTest = 'Тест по теме: <b>Организация связи  в мсбр в различных видах боя</b>'
block question
  script.
    window.questions = [{
      "question": "Общее количество радиосетей и радионаправлений, организуемых в мсбр, может быть более 150, из них … в КВ и … - в УКВ диапазонах:",
      "good_anser": "До 10; более 140.",
      "bad_anser": "Нет верного ответа.::Около 100; менее 60.::До 60; до 90."
    }, {
        "question": "Структурно радиосвязь в бригаде может состоять из следующих элементов:",
        "good_anser": "Все ответы верны.",
        "bad_anser": "Радиосвязь командира и штаба бригады с вышестоящими органами управления.::Радиосвязь тыла.::Радиосвязь командира и штаба бригады с подчиненными."
      }, {
        "question": "Вид связи в радиосетях командира (командующего) оперативного командования (армии) - :",
        "good_anser": "Телефонная засекреченная.",
        "bad_anser": "Телеграфная.::Мобильная.::Телефонная открытая."
      }, {
        "question": "Для обеспечения функционирования автоматизированной системы управления войсками (АСУВ) мсбр  организуется:",
        "good_anser": "Сеть передачи данных.",
        "bad_anser": "Телефонная связь.::Телеграфная связь.::ФПС."
      }, {
        "question": "Для развертывания сети радиорелейной связи в батальоне связи мсбр имеются:",
        "good_anser": "Радиорелейные станции Р-419МП=8.",
        "bad_anser": "Радиорелейные станции П-274=12.::Радиорелейные станции К-887=8.::Все ответы верны."
      }, {
        "question": "Проводная связь в мотострелковой  бригаде организуется …:",
        "good_anser": "Во всех видах боевых действий.",
        "bad_anser": "Только при наступлении.::Только в обороне.::Только при наступлении с ходу."
      }, {
        "question": "Схема радио- и спутниковой связи разрабатывается … и является составной частью плана связи:",
        "good_anser": "Отделением связи штаба бригады.",
        "bad_anser": "Начальником артиллерии.::ННС.::Начальником ПВО."
      }, {
        "question": "Для обеспечения прямой связи КП бригады с КП (ЗКП) объединения силами и средствами начальника направления связи корпуса (армии) развертывается направление тропосферной связи на станциях ...:",
        "good_anser": "Р 423-2Б.",
        "bad_anser": "П-274.::УКВ МС 13.::С296-М."
      }, {
        "question": "Для развертывания сети проводной связи от узлов связи КП и ТПУ бригады и ВУС в батальоне связи имеются коммутаторы телефонной открытой связи … :",
        "good_anser": "П-193М2.",
        "bad_anser": "П-274.::П-2.::Р-163."
      }, {
        "question": "Фельдъегерско-почтовая связь в мотострелковой (танковой) бригаде организуется от КП с батальонами первого эшелона:",
        "good_anser": "По направлениям или круговым маршрутам.",
        "bad_anser": "По телефонной засекреченной линии.::На конном подразделении.::По радионаправлениям и маршрутам."
      }
    ];