extends common/_test
block variable
  -var title = 'Тест Сбор данных об обстановке по связи'
  -var titleTest = 'Тест по теме: <b>Сбор данных об обстановке по связи</b>'
block question
  script.
    window.questions = [
      {
        "question": "1. По характеру содержащихся сведений донесения могут быть:",
        "good_anser": "Срочными и внесрочными.",
        "bad_anser": "Срочными и бессрочными.::Срочными и временными.::Экстренными и важными."
      },
      {
        "question": "2. Что относится к видам обеспечения части и подразделений связи?",
        "good_anser": "Техническое обеспечение.",
        "bad_anser": "Все ответы верны.::Светоотражающее обеспечение.::Маскировочное обеспечение."
      },
      {
        "question": "3. К какому принципу организации связи для взаимодействия войск относится определение: между взаимодействующими подразделениями связь организуется распоряжением вышестоящего штаба?",
        "good_anser": "Принцип исходных данных для организации связи взаимодействия.",
        "bad_anser": "Принцип ответственности за организацию связи взаимодействия.::Принцип ответственности за выделение средств для связи взаимодействия.::Принцип организации связи  мотострелковых и танковых подразделений с действующей артиллерией."
      },
      {
        "question": "4. К основным видам боевого обеспечения применения системы связи и подразделений связи относятся:",
        "good_anser": "Радиоэлектронная защита и противодействие техническим средствам разведки противника.",
        "bad_anser": "Все ответы верны.::Авиационная защита.::Обеспечение мероприятий по защите личного состава от информационно-психологического воздействия противника."
      },
      {
        "question": "5. … обеспечение организуется и осуществляется с целью поддержания боевой готовности и боеспособности частей и подразделений связи по наличию готовых к боевому применению вооружения и военной техники и по обеспеченности боеприпасами и военно-техническим имуществом.",
        "good_anser": "Техническое.",
        "bad_anser": "Боевое.::Инженерное.::Нет верного ответа."
      },
      {
        "question": "6. Маскировка подразделений и объектов связи достигается:",
        "good_anser": "Нет верного ответа.",
        "bad_anser": "Оснащением подразделений специальными комплектами получения и обработки навигационной информации.::Подготовкой навигационной информации и доведением ее до подразделений батальона.::Топогеодезической привязкой элементов системы связи и радиотехнических систем."
      },
      {
        "question": "7. Радиоэлектронная защита системы связи включает:",
        "good_anser": "Защиту от воздействия ионизирующих и электромагнитных излучений ядерных взрывов и других видов оружия.",
        "bad_anser": "Нет верного ответа.::Видоизменение техники и объектов связи путем нанесения специального покрытия.::Выявление радиационной, химической и биологической обстановки."
      },
      {
        "question": "8. Цели морально-психологического обеспечения достигаются проведением:",
        "good_anser": "Все ответы верны.",
        "bad_anser": "Информационно-воспитательной работы.::Психологической, военно-социальной и культурно-досуговой работой.::Обеспечением взвода техническими средствами воспитания."
      },
      {
        "question": "9. Видом технического обеспечения в подразделениях связи  являются:",
        "good_anser": "Танкотехническое.",
        "bad_anser": "Судотехническое.::Нет верного ответа.::Техническое обеспечение по службам медпунктов."
      },
      {
        "question": "10. … организуется и осуществляется для поддержания подразделений связи в боеспособном состоянии и создания им благоприятных условий для выполнения поставленных задач.",
        "good_anser": "Тыловое обеспечение.",
        "bad_anser": "Боевое обеспечение.::Инженерное обеспечение.::Навигационное обеспечение."
      }
    ];