footer.footer
  .container
    .uk-grid-large.uk-flex-middle.uk-grid(uk-grid='')
      .uk-first-column(class='uk-width-expand@m')
        p.uk-text-large &copy; Военнная кафедра РТУ (МИРЭА)
      //-div(class='uk-width-auto@m')
        a.uk-button.uk-button-default.uk-button-large(href='#') Button