header.header
  .container.py-3
    .row.align-items-center
      .col-12.col-md-2
        a(href="/")
          img(src=PATH+"img/gerb.png" alt="")
      .col-12.col-md-8.text-center
        div ЭЛЕКТРОННЫЙ УЧЕБНО-МЕТОДИЧЕСКИЙ КОМПЛЕКС
        | изучения учебной дисциплины "Тактико-специальная подготовка"
        | по военно-учетной спциальности:

        br
        | 521300 - "Эксплуатация и ремонт аппаратуры электросвязи"
      .col-12.col-md-2
        a(href="https://www.mirea.ru" target="_blank")
          img(src=PATH+"img/vk_logo.png" alt="")
