#offcanvas-nav-primary(data-uk-offcanvas='overlay: true')
  .uk-offcanvas-bar.uk-flex.uk-flex-column
    ul.uk-nav.uk-nav-primary.uk-margin-auto-vertical(data-uk-nav)
      li.uk-nav-header Содержание
      li.uk-parent
        a(href='#') Раздел 1. Организация связи в тактическом и оперативно-тактическом звене управления
        ul.uk-nav-sub
          li
            a(href='r_1_t_1.html') Тема 1. Общие положения по организации связи в Сухопутных войсках Вооруженных Сил Российской Федерации
          li
            a(href='r_1_t_2.html') Тема 2. Организация связи в тактическом звене управления
          li
            a(href='r_1_t_3.html') Тема 3. Организация связи в оперативно-тактическом звене управления
      li.uk-parent
        a(href='#') Раздел 2. Система связи оперативного звена управления Сухопутных войск
        ul.uk-nav-sub
          //-li
            a(href='r_2_t_1.html') Тема 1. Основы организации связи в оперативном командовании
          li
            a(href='r_2_t_2.html') Тема 2. Основы поддержания боевой готовности и всестороннего обеспечения боеготовности применения частей (подразделений) связи
          //-li
            a(href='#') Тема 3. Основы поддержания боевой, мобилизационной готовности и всестороннего обеспечения боеготовности применения частей (подразделений) связи
          //li
            a(href='r_2_t_3.html') Тема 3 Узлы связи пунктов управления оперативного звена
          //-li
            a(href='#') Тема 4 Тактико-специальное учение.

      li.uk-nav-header Дополнительно
      li
        a(href='#')
          //-span.uk-margin-small-right(data-uk-icon='icon: table')
          | литература
      //-li
        a(href='#')
          span.uk-margin-small-right(data-uk-icon='icon: thumbnails')
          | Item
      //-li.uk-nav-divider
      //-li
        a(href='#')
          span.uk-margin-small-right(data-uk-icon='icon: trash')
          | Item